$HtmlHelper.LabelFor("type", "Add Type:")
$HtmlHelper.Select("type")
$HtmlHelper.CreateOption("Production", "Production")
$HtmlHelper.CreateOption("Transfer", "Transfer")
$HtmlHelper.CreateOption("Rejection", "Rejection")
$HtmlHelper.CreateOption("Reworking", "Reworking")
$HtmlHelper.CreateOption("Adjustment", "Adjustment")
$HtmlHelper.CreateOption("RTV(ToStore)", "RTV(ToStore)")
$HtmlHelper.CreateOption("Scrap", "Scrap")
$HtmlHelper.CreateOption("CombineTravelers", "CombineTravelers")
$HtmlHelper.CreateOption("SplitTraveler", "SplitTraveler")
$HtmlHelper.CreateOption("VendScrap", "VendScrap")
$HtmlHelper.CreateOption("ReturnToVender", "ReturnToVender")
$HtmlHelper.EndSelect()
$AjaxHelper.ButtonToRemote("+", "AddTypeCondition.rails", $DictHelper.CreateDict( "update=typeConditions", "with=Form.serialize($('universalsearch'))" ) )

