#set ($i = 0)
#foreach ($type in $types)
#beforeall	
	<fieldset>
		<legend>Type In:</legend>
	<table class="scaffoldtable" cellpadding="2" cellspacing="0" border="0">
	<tbody>
#each
		<tr class="scaffoldrow" id=type$i>
		<td>
			$HtmlHelper.InputHidden("types[$i]", "$type")
			$type
		</td>
		<td>
			$AjaxHelper.ButtonToRemote("-", "SubtractTypeCondition.rails", $DictHelper.CreateDict( "update=type${i}" ))
		</td>
		</tr>
	#set ($i = $i + 1)
#afterall
	</tbody>
	</table>
	</fieldset>
	<br/>
#end
