#capturefor(title)
${common.account-paid}
#end

#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  /* ]]> */
  </style>
  
  ${j.jquery_dataTable()}
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    var oInstances
    $(function(){
      TableToolsInit.sSwfPath = "${j.sSwfPath()}";
      oInstances = $('#instances').dataTable({
        "sDom": 'T<"clear">lfrtip',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aoColumns": [
        {"sClass": "ordernumber"},
        {"sClass": "workshop", "bSortable": false},
        {"sClass": "material-id"},
        {"sClass": "material-name", "bSortable": false},
        {"sClass": "material-spec", "bSortable": false},
        {"sClass": "datetime"},
        {"sClass": "quantity"},
        ],
      });
    });
  // ]]>
  </script>
#end

<div id="instances-container">
<table id="instances" class="display">
  <thead>
    <tr>
      <th>${common.ordernumber}</th>
      <th>${common.workshop}</th>
      <th>${common.material}</th>
      <th>${common.name}</th>
      <th>${common.description}</th>
      <th>${common.date}</th>
      <th>${common.quantity}</th>
    </tr>
  </thead>
  <tbody>
    #foreach($instance in $instances)
    <tr>
      <td>${instance.Account.OrderNumber}</td>
      <td>${instance.Account.WorkShop}</td>
      <td>${instance.ProductDelivery.Product.Id}</td>
      <td>$!{instance.ProductDelivery.Product.Name}</td>
      <td>$!{instance.ProductDelivery.Product.Specification}</td>
      <td>${instance.ProductDelivery.DeliveredDate}</td>
      <td>${instance.ProductDelivery.DeliveredQuantity}</td>
    </tr>
    #end
  </tbody>
</table>
</div>
