#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
p { margin-top: 1em; height: 25px; float: left; }
span { float: left; }
.label2 { width: 100px; text-align: right; padding-right: .3em; }
.field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
.label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}

.customer, .order-number { width: 250px; }

#criteria-container { padding: 0 1em 1.5em 1em; width: 500px; margin-top: 2em; }
#instances-container { padding-top: 1em; }
/* ]]> */
</style>

${j.jquery_dataTable()}
${j.jquery_autocomplete()}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    fnDecorative();
    $('#id').autocomplete('$url.for("%{area='sales', controller='salesorder', action='autocomplete2'}")', {
      width: 300,
      matchContains: true,
      formatItem: formatSalesOrderItem,
      formatResult: formatResult,
      max: 30
    }).focus();
    $('#btnEdit').click(function(){location.href='${url.for("%{action='revieworder', querystring='id='}")}' + $('#id').val()});

    oDataTable = $('#instances').dataTable({
      "bJQueryUI": true,
    });
  });

// ]]>
</script>
#end

#capturefor(title)
${common.planningmaterial}
#end

<div id="criteria-container" class="ui-widget-content ui-helper-clearfix">

  <p>
    <span class="label2">*${common.ordernumber}:</span>
    <span class="field2 order-number">
      <input type="text" name="id" class="required" id="id"/>
    </span>
  </p>

  <p><button id="btnEdit">${common.edit}</button></p>

</div>

<div id="instances-container" class="ui-helper-clearfix">
<table id="instances" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.customer}</th>
      <th></th>
      <th>${common.tradetype}</th>
      <th>${common.is-sample}</th>
      <th>${common.notice}</th>
    </tr>
  </thead>
  <tbody>
  #foreach($instance in $instances)
    <tr>
      <td><a href='${url.for("%{action='revieworder', querystring='id=$instance.Id'}")}'>${instance.Id}</a></td>
      <td>${instance.Customer.Id}</td>
      <td>$!{instance.Customer.Name}</td>
      <td>${h.getenumname($instance.TradeType)}</td>
      <td>${instance.IsSample}</td>
      <td>$!{instance.Notice}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
