#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
p { margin-top: 1em; height: 25px; float: left; }
span { float: left; }
.label2 { width: 100px; text-align: right; padding-right: .3em; }
.field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
.label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}

.customer, .order-number { width: 250px; }

#criteria-container { padding: 0 1em 1.5em 1em; width: 500px; margin-top: 2em; }
/* ]]> */
</style>

${j.jquery_autocomplete()}
${j.jquery_form()}
${j.jquery_validate()}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    $('#instance_Customer_Id, #customer').autocomplete('$url.for("%{controller='customer', action='autocomplete2'}")', {
      width: 300,
      matchContains: true,
      formatItem: formatCustomerItem,
      formatResult: formatResult
    });
    $('#instance_Id').focus();
    $('#instance_ShipTo_Id').autocomplete('$url.for("%{area='common', controller='addr', action='autocomplete2'}")', {
      width: 400,
      matchContains: true,
      formatItem: formatAddressItem,
      formatResult: formatResult
    });

    $('#new-instance-form').validate();

    fnDecorative();
    $('.button').button();

    $('#btnEdit').click(function(){
      fnRedirectTo('$url.for("%{action='edit'}")');
    });
    $('#btnPlanContainer').click(function(){
      fnRedirectTo('$url.for("%{action='plancontainer'}")');
    });
  });

  function fnDecorative(){
    $('.label2').addClass('ui-state-active ui-corner-bl');
    $('.field2').addClass('ui-state-hover ui-corner-tr');
    $(':submit').button();
  }

  function fnRedirectTo(sAction)
  {
    document.location = sAction + "?id=" + $('#id').val();
  }
// ]]>
</script>
#end

#capturefor(title)
${common.createnew} ${common.salesorder}
#end

<div id="header-container">
  <h3>${common.createnew} ${common.salesorder}</h3>
</div>

<div id="new-instance-container">

${h.start_with_layout($url.for("%{action='create'}"), "new-instance-form")}
${f.push("instance")}

${h.field($common.ordernumber, $f.textfield('Id', "%{class='required'}"), true)}
${h.field($common.customer, $f.textfield('Customer.Id', "%{class='required'}"), true)}
${h.field($common.tradetype, $f.select("TradeType", $f.enumtopairs("HJ.Common.Domain.TradeTypeEnum, HJ.Common"), "%{value='first', class='required'}"), true)}
${h.field($common.is-sample, $f.checkboxfield("IsSample"))}
${h.field($common.notice, $f.textarea('Notice'))}

${h.field("", $f.Submit($common.create))}

${f.pop()}
${h.end_with_layout()}
</div>
<div id="criteria-container" class="ui-widget-content ui-helper-clearfix">

  <p>
    <span class="label2">*${common.ordernumber}:</span>
    <span class="field2 order-number">
      <input type="text" name="id" value="" id="id" class="required"/>
    </span>
  </p>
  
  <p>
    <a class="button" id="btnEdit">${common.edit}</a>
    <a class="button" id="btnPlanContainer">${common.plan-container}</a>
  </p>

</div>
