#capturefor(head)
  ${j.jquery_dataTable()}
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    var oInstances
    $(function(){
      oInstances = $('#instances').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": '$url.for("%{action='listtabledata'}")',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aoColumns": [
        {"fnRender": function(oObj){return fnGetLink(oObj.aData[0]);}, "sType": "html"},
        null, null, null, null, null, null
        ]
      });
    });
    function fnGetLink(id){
      var linkView =  '$url.for("%{action='view', querystring='id='}")' + id;
      return "<a href='" + linkView + "'>" + id + "</a>";
    }
  // ]]>
  </script>
#end

<h3>${common.issuingnote}</h3>
<div id="instances-container">
<table id="instances" class="display">
  <thead>
    <tr>
      <th>Id</th>
      <th>${common.workshop}</th>
      <th>${common.applyby}</th>
      <th>${common.storekeeper}</th>
      <th>${common.status}</th>
      <th>${common.createdate}</th>
      <th>${common.issuedate}</th>
    </tr>
  </thead>
</table>
</div>
