#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
#header-container h3 { float: left; }
#header-container a { margin-left: 1em; float: left; }
/* ]]> */
</style>

  ${j.jquery_form()}
  ${j.jquery_validate()}
  ${j.jquery_dataTable()}
  ${j.jquery_autocomplete()}
  ${j.jquery_editable()}

  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('a').button();
      oDataTable = $('#instances').dataTable({
        "bJQueryUI": true,
        "aoColumns": [
        {"bVisible": false},
        {"sClass": "material-id"},
        {"sClass": "material-name"},
        {"sClass": "material-spec"},
        {"sClass": "quantity required-quantity"},
        {"sClass": "unit"},
        {"sClass": "short-date"},
        {"sClass": "repository"},
        null,
        {"fnRender": function(oObj){return fnRenderRemoveLink(oObj, '${url.for("%{action='removeentry'}")}');}, "bSortable": false}
        ],
        "fnDrawCallback": function(){
          fnClassTrigerMaterialMenu();
          $('.required-quantity').editable('${url.for("%{action='changerequiredquantity'}")}');
        }
      });
    });

  // ]]>
  </script>
#end

#capturefor(title)
${common.review} ${common.purchaserequisition}: ${instance.Id}
#end

<div id="header-container" class="ui-helper-clearfix">
  <h3>${common.purchaserequisition}: ${instance.Id}</h3>
#parse("${siteroot}/pur/purchaserequisition/_head.vm")
  <a href='${url.for("%{action='approve2', querystring='id=$instance.Id'}")}'>${common.approve}</a>
  <a href='${url.for("%{action='reject', querystring='id=$instance.Id'}")}'>${common.reject}</a>
</div>

<div id="instances-container">
<table id="instances" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.material}</th>
      <th>${common.name}</th>
      <th>${common.specification}</th>
      <th>${common.requiredquantity}</th>
      <th>${common.unit}</th>
      <th>${common.requireddate}</th>
      <th>${common.responsible}</th>
      <th>${common.notice}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $instance.Entries)
    <tr>
      <td>${entry.Id}</td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Name}</td>
      <td>$!{entry.Material.Specification}</td>
      <td id="${entry.Id}">${entry.RequiredQuantity}</td>
      <td>$!{entry.Unit.Description}</td>
      <td>${entry.RequiredDate.ToShortDateString()}</td>
      <td>$!{entry.Responsible}</td>
      <td>$!{entry.Notice}</td>
      <td>${common.remove}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
