#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  #date-field { float: right; }
  #report-header span { padding: .3em; }
  #report-body { margin-top: .8em; }

  .quantity { text-align: right; font-family: monospace; }
  /* ]]> */
  </style>
  
  ${j.jquery_dataTable()}

  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    var oInstances;
    $(function(){
      TableToolsInit.sSwfPath = "${j.sSwfPath()}";
      oInstances = $('#instances').dataTable({
        "sDom": 'T<"clear">lfrtip',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aLengthMenu": [[50, 100, 200, 500, 1000, -1], [50, 100, 200, 500, 1000, "All"]],
        "iDisplayLength": 50,
        "aoColumns": [
        {"sClass": "repository-id"},
        {"sClass": "repository-desc"},
        {"sClass": "material-id"},
        {"sClass": "material-spec"},
        {"sClass": "quantity"},
        {"sClass": "quantity"},
        {"sClass": "quantity"},
        {"sClass": "quantity"},
        {"sClass": "unit-desc"},
        {"sClass": "quantity"},
        {"sClass": "unit-desc"},
        {"sClass": "quantity"},
        {"sClass": "unit-desc"},
        ]
      });
    });
  // ]]>
  </script>
#end

#capturefor(title)
${common.inoutbalance}
#end

<div id="report-header" class="ui-helper-clearfix">
  <div id="date-field">
    <span class="ui-widget-header ui-corner-left">${common.date}:</span>
    <span class="ui-widget-content ui-corner-right">
    ${common.from} ${report.FromDate.ToShortDateString()} ${common.to} ${report.ToDate.ToShortDateString()}</span>
  </div>
</div>

<div id="report-body">
<table id="instances" class="display">
  <thead>
    <tr>
      <th>${common.repository}</th>
      <th>${common.repository} ${common.description}</th>
      <th>${common.materialid}</th>
      <th>${common.material} ${common.description}</th>
      <th>${common.beginingbalance}</th>
      <th>${common.currentincome}</th>
      <th>${common.currentoutlay}</th>
      <th>${common.endingbalance}</th>
      <th>${common.unit}</th>
      <th>${common.quantity}</th>
      <th>${common.secondunit}</th>
      <th>${common.quantity}</th>
      <th>${common.thirdunit}</th>
    </tr>
  </thead>
  <tbody>
  #foreach($item in $report.SummarizeReport())
    <tr>
      <td>${item.Key.Item1.Id}</td>
      <td>$!{item.Key.Item1.Description}</td>
      <td>${item.Key.Item2.Id}</td>
      <td>$!{item.Key.Item2.Description}</td>
      <td>${item.Value.Item1.Item1}</td>
      <td>${item.Value.Item1.Item2}</td>
      <td>${item.Value.Item1.Item3}</td>
      <td>${item.Value.Item1.Item4}</td>
      <td>$!{item.Value.Item2.Item1.Description}</td>
      <td>${item.Value.Item2.Item2}</td>
      <td>$!{item.Value.Item2.Item3.Description}</td>
      <td>${item.Value.Item2.Item4}</td>
      <td>$!{item.Value.Item2.Item5.Description}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
