<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>
		<component
			id="WizardComponent"
			type="HJ.Malt.Components.WizardComponent, HJ.Malt.Web" />
    <!--
		<component
			id="ProjectSelectFormComponent"
			type="HJ.Malt.Components.ProjectSelectFormComponent, HJ.Malt" />
		<component
			id="CustomerPOListComponent"
			type="HJ.Malt.Components.CustomerPOListComponent, HJ.Malt" />
		<component
			id="CustomerPOItemListComponent"
			type="HJ.Malt.Components.CustomerPOItemListComponent, HJ.Malt" />
		<component
			id="FGRequestListComponent"
			type="HJ.Malt.Components.FGRequestListComponent, HJ.Malt" />
		<component
			id="SOP30300ListComponent"
			type="HJ.Malt.Components.SOP30300ListComponent, HJ.Malt" />
		<component
			id="IV30300ListComponent"
			type="HJ.Malt.Components.IV30300ListComponent, HJ.Malt" />
      -->
		<component
			id="StockListComponent"
			type="HJ.Malt.Components.StockListComponent, HJ.Malt.Web" />
	</components>
	
</configuration>
