<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>

		<!-- Area: [Root] -->
		<component id="home.controller" type="HJ.Malt.Controllers.HomeController, HJ.Malt.Web" />
		<component id="menu.controller" type="HJ.Malt.Controllers.MenuController, HJ.Malt.Web" />
		<component id="test.controller" type="HJ.Malt.Controllers.TestController, HJ.Malt.Web" />
		<component id="utility.controller" type="HJ.Malt.Controllers.UtilityController, HJ.Malt.Web" />
		<component id="address.controller" type="HJ.Malt.Controllers.AddrController, HJ.Malt.Web"/>
			
		<!-- Area: Core -->
		<component id="core.employee.controller" type="HJ.Malt.Controllers.Core.EmployeeController, HJ.Malt.Web" />
		<component id="core.project.controller"  type="HJ.Malt.Controllers.Core.ProjectController, HJ.Malt.Web" />
		
		<!-- Area: common -->
		<component id="common.transport.controller" type="HJ.Malt.Controllers.TransportController, HJ.Malt.Web"/>
		<component id="common.settlementmode.controller" type="HJ.Malt.Controllers.SettlementModeController, HJ.Malt.Web"/>
		<component id="common.paymentterm.controller" type="HJ.Malt.Controllers.PaymentTermController, HJ.Malt.Web"/>
		<component id="common.currency.controller" type="HJ.Malt.Controllers.CurrencyController, HJ.Malt.Web"/>
		<component id="common.vendorcategory.controller" type="HJ.Malt.Controllers.PUR.VendorCategoryController, HJ.Malt.Web"/>
		
		<!-- Area: quota -->
		<!--<component id="material.quota.controller" type="HJ.Malt.Controllers.Quota.MaterialQuotaController, HJ.Malt.Web"/>
		<component id="outsourcing.quota.controller" type="HJ.Malt.Controllers.Quota.OutsourcingQuotaController, HJ.Malt.Web"/>-->
		
		<!-- Area: inv -->
		<component id="inv.formula.controller" type="HJ.Malt.Controllers.INV.FormulaController, HJ.Malt.Web" />
		<component id="inv.unit.controller" type="HJ.Malt.Controllers.INV.UnitController, HJ.Malt.Web" />
		<component id="inv.material.controller" type="HJ.Malt.Controllers.INV.MaterialController, HJ.Malt.Web" />
		<component id="inv.bom.controller" type="HJ.Malt.Controllers.INV.BomController, HJ.Malt.Web" />
		<component id="inv.receiving.controller" type="HJ.Malt.Controllers.INV.ReceivingController, HJ.Malt.Web"/>
		<!--<component id="inv.receivingd.controller" type="HJ.Malt.Controllers.INV.ReceivingDController, HJ.Malt.Web"/>-->
		<component id="inv.receivingnote.controller" type="HJ.Malt.Controllers.INV.ReceivingNoteController, HJ.Malt.Web"/>
		<!--<component id="inv.receivingnoted.controller" type="HJ.Malt.Controllers.INV.ReceivingNoteDController, HJ.Malt.Web"/>-->
		<component id="inv.rtv.controller" type="HJ.Malt.Controllers.INV.Sheet4ReturnToVendorController, HJ.Malt.Web" />
		<component id="inv.sheet4rtv.controller" type="HJ.Malt.Controllers.INV.ReturnToVendorController, HJ.Malt.Web" />
		<component id="inv.issuing.controller" type="HJ.Malt.Controllers.INV.IssuingController, HJ.Malt.Web"/>
		<component id="inv.issuingnote.controller" type="HJ.Malt.Controllers.INV.IssuingNoteController, HJ.Malt.Web"/>
		<component id="inv.inventory.controller" type="HJ.Malt.Controllers.INV.InventoryController, HJ.Malt.Web"/>
		<component id="inv.submitting.controller" type="HJ.Malt.Controllers.INV.SubmittingController, HJ.Malt.Web"/>
		<component id="inv.submission.controller" type="HJ.Malt.Controllers.INV.SubmissionController, HJ.Malt.Web"/>
		<component id="inv.issuingfg.controller" type="HJ.Malt.Controllers.INV.DeliveringController, HJ.Malt.Web"/>
		<component id="inv.issuefg.controller" type="HJ.Malt.Controllers.INV.DeliveryNoteController, HJ.Malt.Web"/>
		<component id="inv.repository.controller" type="HJ.Malt.Controllers.INV.RepositoryController, HJ.Malt.Web"/>
		<component id="inv.inventorythreshold.controller"
							 type="HJ.Malt.Controllers.INV.InventoryThresholdController, HJ.Malt.Web"/>
		<!--<component id="inv.materialcredit.controller"
							 type="HJ.Malt.Controllers.INV.MaterialCreditController, HJ.Malt.Web" />-->
		
		<!-- Area: prod -->
		<component id="producing.controller" type="HJ.Malt.Controllers.PROD.ProducingController, HJ.Malt.Web" />
		<component id="return-to-warehouse.controller" type="HJ.Malt.Controllers.PROD.ReturnToWarehouseController, HJ.Malt.Web" />
		<component id="sheet-for-return-to-warehouse.controller" type="HJ.Malt.Controllers.PROD.Sheet4ReturnToWarehouseController, HJ.Malt.Web" />
		<component id="account-receivable.controller"
							 type ="HJ.Malt.Controllers.PROD.AccountReceivableController, HJ.Malt.Web" />
		<component id="account-received.controller"
							 type ="HJ.Malt.Controllers.PROD.AccountReceivedController, HJ.Malt.Web" />
		<component id="account-payable.controller"
							 type ="HJ.Malt.Controllers.PROD.AccountPayableController, HJ.Malt.Web" />
		<component id="account-paid.controller"
							 type ="HJ.Malt.Controllers.PROD.AccountPaidController, HJ.Malt.Web" />
		<component id="margin-of-pay.controller"
							 type ="HJ.Malt.Controllers.PROD.MarginOfPayController, HJ.Malt.Web" />
    <component id="account-submitable.controller"
							 type ="HJ.Malt.Controllers.PROD.AccountSubmitableController, HJ.Malt.Web" />
    <component id="account-submitted.controller"
							 type ="HJ.Malt.Controllers.PROD.AccountSubmittedController, HJ.Malt.Web" />
		<component id="margin-of-submit.controller"
							 type ="HJ.Malt.Controllers.PROD.MarginOfSubmitController, HJ.Malt.Web" />
		
		<!-- Area: pmc -->
		<!--<component id="mc.controller" type="HJ.Malt.Controllers.PMC.MCController, HJ.Malt.Web" />-->

		<!-- Area: pur -->
		<component id="pur.pr.controller" type="HJ.Malt.Controllers.PUR.PRController, HJ.Malt.Web" />
		<component id="pur.po.controller" type="HJ.Malt.Controllers.PUR.POController, HJ.Malt.Web" />
		<component id="pur.purchasing.controller" type="HJ.Malt.Controllers.PUR.PurchasingController, HJ.Malt.Web" />
		<component id="pur.purchaseorder.controller" type="HJ.Malt.Controllers.PUR.PurchaseOrderController, HJ.Malt.Web" />
		<component id="pur.vendor.controller" type="HJ.Malt.Controllers.PUR.VendorController, HJ.Malt.Web" />
		<component id="pur.purchaserequisition.controller" type="HJ.Malt.Controllers.PUR.PurchaseRequisitionController, HJ.Malt.Web" />
					
			<!-- Steps -->
				 
		<!-- Area: WIP -->
		<!--<component
			id="wip.bom.controller"
			type="HJ.Malt.Controllers.WIP.BOMController, HJ.Malt.Web" />-->
		<component
			id="wip.location.controller"
			type="HJ.Malt.Controllers.WIP.LocationController, HJ.Malt.Web" />
		<component
			id="wip.materiel.controller"
			type="HJ.Malt.Controllers.WIP.MaterielController, HJ.Malt.Web" />
		
		
		
		
		<!-- Area: Sales -->
		<component id="core.customer.controller" type="HJ.Malt.Controllers.Sales.CustomerController, HJ.Malt.Web" />
		<component id="sales.pnt.controller" type="HJ.Malt.Controllers.Sales.PNTController, HJ.Malt.Web" />
		<component id="sales.sales.controller" type="HJ.Malt.Controllers.Sales.SalesController, HJ.Malt.Web" />
		<component id="sales.so.controller" type="HJ.Malt.Controllers.Sales.SalesOrderController, HJ.Malt.Web" />
		<component id="sales.container.controller" type="HJ.Malt.Controllers.Sales.ContainerController, HJ.Malt.Web" />
		
		<!-- Area: SysAdmin -->
		<component
			id="sysadmin.monorailauthorization.controller"
			type="HJ.Malt.Controllers.SysAdmin.MonoRailAuthorizationController, HJ.Malt.Web" />
		<!--
		<component
			id="sysadmin.rolelist.controller"
			type="HJ.Malt.Controllers.SysAdmin.RoleListController, HJ.Malt.Web" />
		<component
			id="sysadmin.employee.controller"
			type="HJ.Malt.Controllers.SysAdmin.EmployeeController, HJ.Malt.Web" />
			-->
		<!-- security -->
		<component id="authentication.controller"
							 type="HJ.Malt.Controllers.Security.AuthenticationController, HJ.Malt.Web" />
		<component id="security.initialize.controller"
							 type="HJ.Malt.Controllers.Security.InitializeController, HJ.Malt.Web" />
		<component id="account.controller"
							 type="HJ.Malt.Controllers.Security.AccountController, HJ.Malt.Web" />
		
		<!-- System -->
		<component id="task.controller" type="HJ.Malt.Controllers.System.TaskController, HJ.Malt.Web" />
		
		<!-- Report -->
		<component id="dailyreport.controller" type="HJ.Malt.Controllers.Report.DailyReportController, HJ.Malt.Web" />
		<!-- BipReport -->
		<component id="warehouse.report.controller"
							 type="HJ.Malt.Controllers.BipReport.WarehouseReportController, HJ.Malt.Web" />
	</components>

</configuration>
