<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <facilities>

    <facility id="rails.facility"
			type="Castle.MonoRail.WindsorExtension.MonoRailFacility, Castle.MonoRail.WindsorExtension" />

    <facility id="transaction"
			type="Castle.Facilities.AutoTx.TransactionFacility, Castle.Facilities.AutoTx" />

    <facility id="typedfactory"
              type="Castle.Facilities.TypedFactory.TypedFactoryFacility, Castle.Windsor">
      <factories>
        <factory id="authorizationInspectorFactory"
                 interface="HJ.Malt.Service.Security.IAuthorizationInspectorFactory, HJ.Malt"
                 creation="Create" destruction="Release" />
        <factory id="authorizationManagerFactory"
                 interface="HJ.Malt.Service.Security.IAuthorizationManagerFactory, HJ.Malt"
                 creation="Create" destruction="Release" />
      </factories>
    </facility>

    <facility id="arintegration"
			type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration"
			isWeb="true" >

      <assemblies>
        <item>HJ.Common</item>
        <item>HJ.Malt.Core</item>
        <item>HJ.Malt.Common</item>
        <item>HJ.Malt.Bom</item>
        <item>HJ.Malt.Credit</item>
        <item>HJ.Malt.Formula</item>
        <item>HJ.Malt.Inv</item>
        <item>HJ.Malt.Purchasing</item>
        <item>HJ.Malt.Prod</item>
        <item>HJ.Malt.Sales</item>
        <item>HJ.Malt.Store</item>
        <item>HJ.Malt.Bip</item>
        <item>HJ.Malt</item>
      </assemblies>

      <config>
        <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
        <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
        <add key="show_sql" value="true" />
        <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <add key="connection.connection_string" value="user id=sa;password=jokh83*%;Initial Catalog=BipWip;Data Source=sql2005" />
        <!--
        <add key="connection.connection_string" value="user id=wip;password=f0jie37*;Initial Catalog=BipWip;Data Source=192.168.0.2" />
        -->
        <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
      </config>
      <!--
      <config type="HJ.Malt.Domain.Security.AAADatabase, HJ.Malt">
        <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
        <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
        <add key="show_sql" value="true" />
        <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <add key="connection.connection_string" value="user id=sa;password=jokh83*%;Initial Catalog=malt_dev;Data Source=localhost" />
        <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
      </config>
      -->
    </facility>

  </facilities>

</configuration>
