<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>
  

    <!-- Core -->
    <component id="keyCounter.service"
               service="HJ.Malt.Core.Service.IKeyCounterService, HJ.Malt.Core"
               type="HJ.Malt.Core.Service.KeyCounterService, HJ.Malt.Core" />
    <component id="material.classifying.service"
               service="HJ.Malt.Core.Service.IMaterialClassifyingService, HJ.Malt.Core"
               type="HJ.Malt.Core.Service.MaterialClassifyingService, HJ.Malt.Core"/>
    <component id="material.service"
               service="HJ.Malt.Core.Service.IMaterialService, HJ.Malt.Core"
               type="HJ.Malt.Core.Service.MaterialService, HJ.Malt.Core" />
    <component id="minimumpackquantity.principle"
               service="HJ.Malt.Core.Service.IMinimumPackQuantityPrinciple, HJ.Malt.Core"
               type="HJ.Malt.Core.Service.MinimumPackQuantityPrinciple, HJ.Malt.Core"/>
    <component id="repository.service"
               service="HJ.Malt.Core.Service.IRepositoryService, HJ.Malt.Core"
               type="HJ.Malt.Core.Service.RepositoryService, HJ.Malt.Core" />
    <!-- Core.Security -->
    
    <!-- Malt Common -->
    <component id="inventory.consuming.label.accessor"
               service="HJ.Malt.Common.Service.IInventoryConsumingLabelAccessor, HJ.Malt.Common"
               type="HJ.Malt.Common.Service.InventoryConsumingLabelAccessor, HJ.Malt.Common"/>
    <component id="inventory.ordering.label.accessor"
               service="HJ.Malt.Common.Service.IInventoryOrderingLabelAccessor, HJ.Malt.Common"
               type="HJ.Malt.Common.Service.InventoryOrderingLabelAccessor, HJ.Malt.Common"/>
    <component id="productrequirement.accessor"
               service="HJ.Malt.Common.Service.IProductRequirementAccessor, HJ.Malt.Common"
               type="HJ.Malt.Prod.Service.ProductRequirementAccessor, HJ.Malt.Prod"/>
    <component id="productrequirement.service"
               service="HJ.Malt.Common.Service.IProductRequirementService, HJ.Malt.Common"
               type="HJ.Malt.Prod.Service.ProductRequirementService, HJ.Malt.Prod"/>
               
    <!-- Bom -->
    <component id="bom.service"
               service="HJ.Malt.Bom.Service.IBomService, HJ.Malt.Bom"
               type="HJ.Malt.Bom.Service.BomService, HJ.Malt.Bom" />
    <component id="bom.snapshot.service"
               service="HJ.Malt.Bom.Service.IBomSnapshotService, HJ.Malt.Bom"
               type="HJ.Malt.Bom.Service.BomSnapshotService, HJ.Malt.Bom" />

    <!-- Formula -->
    <component id="formula.service"
               type="HJ.Malt.Formula.Service.FormulaService, HJ.Malt.Formula" />
    <component id="castlist.accessor"
               service="HJ.Malt.Formula.Service.ICastListAccessor, HJ.Malt.Formula"
               type="HJ.Malt.Formula.Service.CastListAccessor, HJ.Malt.Formula" />
    <component id="formulaproxy.accessor"
               service="HJ.Malt.Formula.Service.IFormulaProxyAccessor, HJ.Malt.Formula"
               type="HJ.Malt.Formula.Service.FormulaProxyAccessor, HJ.Malt.Formula" />
    <component id="formula.accessor"
               service="HJ.Malt.Formula.Service.IFormulaAccessor, HJ.Malt.Formula"
               type="HJ.Malt.Prod.Service.FormulaAccessor, HJ.Malt.Prod" />

    <!-- Quota -->
    <component id="consuming.quota.service"
               service="HJ.Malt.Credit.Service.IConsumingQuotaService, HJ.Malt.Credit"
               type="HJ.Malt.Credit.Service.ConsumingQuotaService, HJ.Malt.Credit"/>
    <component id="ordering.quota.service"
               service="HJ.Malt.Credit.Service.IOrderingQuotaService, HJ.Malt.Credit"
               type="HJ.Malt.Credit.Service.OrderingQuotaService, HJ.Malt.Credit"/>
    <component id="ordering.quotaaccount.service"
               service="HJ.Malt.Credit.Service.IOrderingQuotaAccountService, HJ.Malt.Credit"
               type="HJ.Malt.Credit.Service.OrderingQuotaAccountService, HJ.Malt.Credit"/>
    
    <!-- INV -->
    <component id="inventory.dailyreport.service"
               service="HJ.Malt.Inv.Service.IInventoryDailyReportService, HJ.Malt.Inv"
               type="HJ.Malt.Inv.Service.InventoryDailyReportService, HJ.Malt.Inv"/>
    <component id="inventory.query.service"
               service="HJ.Malt.Inv.Service.IInventoryQueryService, HJ.Malt.Inv"
               type="HJ.Malt.Inv.Service.InventoryQueryService, HJ.Malt.Inv"/>
    <component id="inventory.service"
               service="HJ.Malt.Inv.Service.IInventoryService, HJ.Malt.Inv"
               type="HJ.Malt.Inv.Service.InventoryService, HJ.Malt.Inv" />
    
    <!-- Sales -->
    <component id="container.serveic"
               service="HJ.Malt.Sales.Service.IContainerService, HJ.Malt.Sales"
               type="HJ.Malt.Sales.Service.ContainerService, HJ.Malt.Sales" />
    <component id="container.assigning.service"
               service="HJ.Malt.Sales.Service.IContainerAssigningService, HJ.Malt.Sales"
               type="HJ.Malt.Sales.Service.ContainerAssigningService, HJ.Malt.Sales"/>
    <component id="sales.order.service"
               service="HJ.Malt.Sales.Service.ISalesOrderService, HJ.Malt.Sales"
               type="HJ.Malt.Sales.Service.SalesOrderWithContainerService, HJ.Malt.Sales"/>
    <component id="requirementchange.finder"
               service="HJ.Malt.Sales.Service.IRequirementChangeFinder, HJ.Malt.Sales"
               type="HJ.Malt.Sales.Service.RequirementChangeFinder, HJ.Malt.Sales"/>
    
    <!-- Prod -->
    <component id="formulaproxy.withleadtime.accessor"
               service="HJ.Malt.Prod.Service.IFormulaProxyWithLeadTimeAccessor, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.FormulaProxyWithLeadTimeAccessor, HJ.Malt.Prod"/>
    <component id="issuingnote.service"
               service="HJ.Malt.Prod.Service.IIssuingNoteService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.IssuingNoteService, HJ.Malt.Prod"/>
    <component id="issuing.service"
               service="HJ.Malt.Prod.Service.IIssuingService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.IssuingService, HJ.Malt.Prod"/>
    <component id="planningproxy.accessor"
               service="HJ.Malt.Prod.Service.IPlanningProxyAccessor, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PlanningProxyAccessor, HJ.Malt.Prod"/>    
    <component id="producing.service"
               service="HJ.Malt.Prod.Service.IProducingService, HJ.Malt.Prod"
               type="HJ.Malt.Service.PROD.ProducingService, HJ.Malt" />
    <component id="decomposing.service"
               service="HJ.Malt.Prod.Service.IDecomposingService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.DecomposingService, HJ.Malt.Prod"/>
    <component id="return-to-warehouse.service"
               service="HJ.Malt.Prod.Service.IReturnToWarehouseService, HJ.Malt.Prod"
               type="HJ.Malt.Service.PROD.ReturnToWarehouseService, HJ.Malt" />
    <component id="submission.service"
               service="HJ.Malt.Prod.Service.ISubmissionService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.SubmissionService, HJ.Malt.Prod" />
    <component id="submitting.service"
               service="HJ.Malt.Prod.Service.ISubmittingService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.SubmittingService, HJ.Malt.Prod" />
    <component id="workorder.service"
               service="HJ.Malt.Prod.Service.IWorkOrderService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.WorkOrderService, HJ.Malt.Prod" />
    <component id="workshop.finder"
               service="HJ.Malt.Prod.Service.IWorkShopFinder, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.WorkShopFinder, HJ.Malt.Prod" />
    <component id="workshop.service"
               service="HJ.Malt.Prod.Service.IWorkShopService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.WorkShopService, HJ.Malt.Prod" />
    <!-- Prod ARAP -->
    <component id="paid.service"
               service="HJ.Malt.Prod.Service.PayReceive.IAccountPaidService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.AccountPaidService, HJ.Malt.Prod"/>
    <component id="payable.service"
               service="HJ.Malt.Prod.Service.PayReceive.IAccountPayableService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.AccountPayableService, HJ.Malt.Prod"/>
    <component id="receivable.service"
               service="HJ.Malt.Prod.Service.PayReceive.IAccountReceivableService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.AccountReceivableService, HJ.Malt.Prod"/>
    <component id="received.service"
               service="HJ.Malt.Prod.Service.PayReceive.IAccountReceivedService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.AccountReceivedService, HJ.Malt.Prod"/>
    <component id="submitable.service"
               service="HJ.Malt.Prod.Service.PayReceive.IAccountSubmitableService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.AccountSubmitableService, HJ.Malt.Prod"/>
    <component id="submitted.service"
               service="HJ.Malt.Prod.Service.PayReceive.IAccountSubmittedService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.AccountSubmittedService, HJ.Malt.Prod"/>
    <component id="paybalance.service"
               service="HJ.Malt.Prod.Service.PayReceive.IPayBalanceService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.PayBalanceService, HJ.Malt.Prod"/>
    <component id="receivebalance.service"
               service="HJ.Malt.Prod.Service.PayReceive.IReceiveBalanceService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.ReceiveBalanceService, HJ.Malt.Prod"/>
    <component id="submitbalance.service"
               service="HJ.Malt.Prod.Service.PayReceive.ISubmitBalanceService, HJ.Malt.Prod"
               type="HJ.Malt.Prod.Service.PayReceive.SubmitBalanceService, HJ.Malt.Prod"/>

    <!-- Purchasing -->
    <component id="applypurchasing.service"
               service="HJ.Malt.Purchasing.Service.IApplyPurchasingService, HJ.Malt.Purchasing"
               type="HJ.Malt.Purchasing.Service.ApplyPurchasingService, HJ.Malt.Purchasing" />
    <component id="appraisepr.service"
               service="HJ.Malt.Purchasing.Service.IAppraisePurchaseRequisitionService, HJ.Malt.Purchasing"
               type="HJ.Malt.Purchasing.Service.AppraisePurchaseRequisitionService, HJ.Malt.Purchasing" />
    <component id="buyable.service"
               service="HJ.Malt.Purchasing.Service.IBuyableService, HJ.Malt.Purchasing"
               type="HJ.Malt.Purchasing.Service.BuyableService, HJ.Malt.Purchasing" />
    <component id="pr.service"
               service="HJ.Malt.Purchasing.Service.IPurchaseRequisitionService, HJ.Malt.Purchasing"
               type="HJ.Malt.Purchasing.Service.PurchaseRequisitionService, HJ.Malt.Purchasing" />    
    <component id="purchasing.service"
               type="HJ.Malt.Purchasing.Service.PurchasingService, HJ.Malt.Purchasing" />
    <component id="vendor.service"
               service="HJ.Malt.Purchasing.Service.IVendorService, HJ.Malt.Purchasing"
               type="HJ.Malt.Purchasing.Service.VendorService, HJ.Malt.Purchasing" />

    <!-- PMC -->
    <component id="planbuyable.service"
               service="HJ.Malt.Pmc.Service.IPlanBuyableService, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.PlanBuyableService, HJ.Malt.Pmc"/>
    <component id="resource.planning.service"
               service="HJ.Malt.Pmc.Service.IResourcePlanningService, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.ResourcePlanningService, HJ.Malt.Pmc"/>
    <component id="respond.requirement.service"
               service="HJ.Malt.Pmc.Service.IRespondRequirementChange, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.RespondRequirementChange, HJ.Malt.Pmc"/>
    <component id="unitofwork.forsalesorder.accessor"
               service="HJ.Malt.Pmc.Service.IUnitOfWorkForSalesOrderAccessor, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.UnitOfWorkForSalesOrderAccessor, HJ.Malt.Pmc"/>
    <!-- PMC Allocate -->
    <component id="allocatableinventory.accessor"
               service="HJ.Malt.Pmc.Service.Allocate.IAllocatableInventoryAccessor, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.AllocatableInventoryAccessor, HJ.Malt.Pmc"/>
    <component id="allocatablequantity.accessor"
               service="HJ.Malt.Pmc.Service.Allocate.IAllocatableQuantityAccessor, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.AllocatableQuantityAccessor, HJ.Malt.Pmc"/>
    <component id="allocate.service"
               service="HJ.Malt.Pmc.Service.Allocate.IAllocateService, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.AllocateService, HJ.Malt.Pmc"/>
    <component id="autoallocate.byproductrequirement.service"
               service="HJ.Malt.Pmc.Service.Allocate.IAutoAllocateByProductRequirementService, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.AutoAllocateByProductRequirementService, HJ.Malt.Pmc"/>
    <component id="deallocatableinventory.accessor"
               service="HJ.Malt.Pmc.Service.Allocate.IDeallocatableInventoryAccessor, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.DeallocatableInventoryAccessor, HJ.Malt.Pmc"/>
    <component id="deallocate.service"
               service="HJ.Malt.Pmc.Service.Allocate.IDeallocateService, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.DeallocateService, HJ.Malt.Pmc"/>
    <component id="peekclipping.service"
               service="HJ.Malt.Pmc.Service.Allocate.IPeakClippingService, HJ.Malt.Pmc"
               type="HJ.Malt.Pmc.Service.Allocate.PeakClippingService, HJ.Malt.Pmc"/>

    <component id="wip.service" type="HJ.Malt.Service.WIP.WIPService, HJ.Malt">
      <parameters>
        <cophour>7</cophour>
        <copminute>15</copminute>
        <copsecond>0</copsecond>
        <cophour2>19</cophour2>
        <copminute2>15</copminute2>
        <copsecond2>0</copsecond2>
        <defaultCustomer>NE0000         </defaultCustomer>
      </parameters>
    </component>

      
    <!-- Store -->
    <component id="delivering.service"
               service="HJ.Malt.Store.Service.IDeliveringService, HJ.Malt.Store"
               type="HJ.Malt.Service.DeliveringService, HJ.Malt" />
    <component id="deliverynote.service"
               service="HJ.Malt.Store.Service.IDeliveryNoteService, HJ.Malt.Store"
               type="HJ.Malt.Store.Service.DeliveryNoteService, HJ.Malt.Store"/>
    <component id="inventory.receivinglabel.accessor"
               service="HJ.Malt.Store.Service.IInventoryReceivingLabelAccessor, HJ.Malt.Store"
               type="HJ.Malt.Store.Service.InventoryReceivingLabelAccessor, HJ.Malt.Store" />
    <component id="receivingnote.service"
               service="HJ.Malt.Store.Service.IReceivingNoteService, HJ.Malt.Store"
               type="HJ.Malt.Store.Service.ReceivingNoteService, HJ.Malt.Store" />
    <component id="receiving.service"
               service="HJ.Malt.Store.Service.IReceivingService, HJ.Malt.Store"
               type="HJ.Malt.Store.Service.ReceivingService, HJ.Malt.Store" />
    <component id="rtv.service"
               type="HJ.Malt.Store.Service.ReturnToVendorService, HJ.Malt.Store" />
    <component id="repository.initlization.service"
               type="HJ.Malt.Store.Service.RepositoryInitializeService, HJ.Malt.Store" />
    <component id="store.dailyreport.service"
               service="HJ.Malt.Store.Service.IStoreDailyReportService, HJ.Malt.Store"
               type="HJ.Malt.Store.Service.StoreDailyReportService, HJ.Malt.Store" />
    
    <!-- Malt -->
    <component id="pdf.report.factory"
               service="HJ.Malt.Domain.Report.IPdfReportFactory, HJ.Malt"
               type="HJ.Malt.Domain.Report.PdfReportFactory, HJ.Malt" />
    
    <!-- Security -->
    
    <!-- Security:Factory -->
    <component id="AuthorizationInspectorAgent"
               service="HJ.Malt.Core.Service.Security.IAuthorizationInspector, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.AuthorizationInspectorAgent, HJ.Malt" />
    <component id="AuthorizationManagerAgent"
               service="HJ.Malt.Core.Service.Security.IAuthorizationManager, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.AuthorizationManagerAgent, HJ.Malt" />
    <!-- Security:IAuthorizationInspector -->
    <component id="RepositoryAuthorizationInspector"
               service="HJ.Malt.Core.Service.Security.IAuthorizationInspector, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.RepositoryAuthorizationInspector, HJ.Malt" />
    <component id="MonoRailUrlAuthorizationInspector"
               service="HJ.Malt.Core.Service.Security.IAuthorizationInspector, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.MonoRailUrlAuthorizationInspector, HJ.Malt" />
    <!-- Security:IAuthorizationManager -->
    <component id="RepositoryAuthorizationManager"
               service="HJ.Malt.Core.Service.Security.IAuthorizationManager, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.RepositoryAuthorizationManager, HJ.Malt" />
    <component id="MonoRailUrlAuthorizationManager"
               service="HJ.Malt.Core.Service.Security.IAuthorizationManager, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.MonoRailUrlAuthorizationManager, HJ.Malt" />
    <!-- Security:IAccountService -->
    <component
        id="account.service"
        service="HJ.Malt.Core.Service.Security.IAccountService, HJ.Malt.Core"
        type="HJ.Malt.Service.Security.SQLImpl.AccountServiceSqlImpl, HJ.Malt" />
    <!-- Security:IAuthenticationService -->
    <component
        id="authentication.service"
        service="HJ.Malt.Core.Service.Security.IAuthenticationService, HJ.Malt.Core"
        type="HJ.Malt.Service.Security.Adapter.AuthenticationService, HJ.Malt" />
    <!-- Security:IMembershipService -->
    <component
        id="imembership.service"
        service="HJ.Malt.Core.Service.Security.IMembershipService, HJ.Malt.Core"
        type="HJ.Malt.Service.Security.SQLImpl.MembershipServiceSqlImpl, HJ.Malt" />
    <!-- Security:LocationAuthorizationSesrvice -->
    <component
        id="location.authorization.service"
        type="HJ.Malt.Service.Security.LocationAuthorizationService, HJ.Malt" />
    <component id="security.initialization.service" type="HJ.Malt.Service.Security.InitializeService, HJ.Malt">
      <parameters>
        <DefaultAdminUser>admin</DefaultAdminUser>
        <InitialAdminUser>admin</InitialAdminUser>
        <SystemAdminRole>SystemAdmin</SystemAdminRole>
        <UsersRole>Users</UsersRole>
      </parameters>
    </component>
    <component
        id="monorailurl.authorization.service"
        type="HJ.Malt.Service.Security.MonoRailUrlAuthorizationService, HJ.Malt" />

    <!-- System -->
    <component id="task.service" type="HJ.Malt.Service.System.TaskService, HJ.Malt" />
  </components>
</configuration>
