<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Common -->
  <components>
    <component id="address.service" type="HJ.Malt.Service.AddressService, HJ.Malt.Common">
      <parameters>
        <PurchasingDeliveryAddresses>
          <array>
            <elem>C001</elem>
          </array>
        </PurchasingDeliveryAddresses>
        <DefaultDeliveryAddress>C001</DefaultDeliveryAddress>
      </parameters>
    </component>

    <!-- Core -->
    <component id="material.service"
               service="HJ.Malt.Core.Service.IMaterialService, HJ.Malt.Core"
               type="HJ.Malt.Core.Service.MaterialService, HJ.Malt.Core" />
    <component id="keyCounter.service" type="HJ.Malt.Service.Core.KeyCounterService, HJ.Malt.Core" />
    <!-- Core.Security -->

    <!-- Sales -->
    <component id="sales.service"
               service="HJ.Malt.Service.Sales.ISalesService, HJ.Malt"
               type="HJ.Malt.Service.Sales.SalesService, HJ.Malt" />
    <component id="container.serveic"
               type="HJ.Malt.Service.Sales.ContainerService, HJ.Malt" />
    <component id="sales.order.service"
               type="HJ.Malt.Service.Sales.SalesOrderService, HJ.Malt" />

    <!-- PMC -->
    <component id="mrp.service"
               service="HJ.Malt.Service.PMC.IMaterialRequirementsPlanningService, HJ.Malt"
               type="HJ.Malt.Service.PMC.MaterialRequirementsPlanningService, HJ.Malt" />
    <component id="auto.allocate.service" type="HJ.Malt.Service.PMC.AutoAllocateService, HJ.Malt" />

    <!-- Prod -->
    <component id="plan.service"
               service="HJ.Malt.Service.PROD.IPlanningService, HJ.Malt"
               type="HJ.Malt.Service.Bip.BipPlanningService, HJ.Malt"/>
    <component id="workorder.service" type="HJ.Malt.Service.PROD.WorkOrderService, HJ.Malt" />
    <component id="producing.service" type="HJ.Malt.Service.PROD.ProducingService, HJ.Malt" />
    <component id="return-to-warehouse.service" type="HJ.Malt.Service.PROD.ReturnToWarehouseService, HJ.Malt" />

    <!-- Purchasing -->
    <component id="pr.service"
               service="HJ.Malt.Purchasing.Service.IPurchaseRequisitionService, HJ.Malt.Purchasing"
               type="HJ.Malt.Service.Bip.BipPurchaseRequisitionService, HJ.Malt" />
    <component id="po.service" type="HJ.Malt.Purchasing.Service.POService, HJ.Malt.Purchasing" >
      <parameters>
        <PurchasingDeliverAddresses>
          <array>
            <elem>bip_dg</elem>
          </array>
        </PurchasingDeliverAddresses>
      </parameters>
    </component>
    <component id="purchasing.service" type="HJ.Malt.Purchasing.Service.PurchasingService, HJ.Malt.Purchasing" />
    <component id="judgingpr.service" type="HJ.Malt.Purchasing.Service.JudgingPurchaseRequisition, HJ.Malt.Purchasing" />

    <!--<component id="travelerControl.service" type="HJ.Malt.Service.Abnormality.TravelerControlService, HJ.Malt"></component>-->
    <component id="report.service"
               service="HJ.Malt.Service.Report.IDailyReportService, HJ.Malt"
               type="HJ.Malt.Service.Report.BipDailyReportService, HJ.Malt"               />

    <component id="wip.service" type="HJ.Malt.Service.WIP.WIPService, HJ.Malt">
      <parameters>
        <cophour>7</cophour>
        <copminute>15</copminute>
        <copsecond>0</copsecond>
        <cophour2>19</cophour2>
        <copminute2>15</copminute2>
        <copsecond2>0</copsecond2>
        <defaultCustomer>NE0000         </defaultCustomer>
      </parameters>
    </component>
    <!--Core-->
    <component id="bip.material.service"
               type="HJ.Malt.Bip.Service.Inv.BipMaterialService, HJ.Malt.Bip"/>

    <!--Bom-->
    <component id="bom.service" type="HJ.Malt.Bom.Service.BomService, HJ.Malt.Bom" />
    <component id="bom.snapshot.service" type="HJ.Malt.Bom.Service.BomSnapshotService, HJ.Malt.Bom" />

    <!--Quota-->
    <component id="material.credit.helper"
               service="HJ.Malt.Credit.Domain.IMaterialQuotaHelper, HJ.Malt.Credit"
               type="HJ.Malt.Bip.Domain.Quota.MaterialOutsourcingQuotaHelper, HJ.Malt.Bip"/>
    <component id="bipmaterial.credit.helper"
               type="HJ.Malt.Bip.Domain.Quota.MaterialOutsourcingQuotaHelper, HJ.Malt.Bip"/>

    <component id="material.credit.service"
               service="HJ.Malt.Credit.Service.IMaterialQuotaService, HJ.Malt.Credit"
               type="HJ.Malt.Bip.Service.Quota.BipMaterialQuotaService, HJ.Malt.Bip" />
    <component id="bipmaterial.credit.service"
                   type="HJ.Malt.Bip.Service.Quota.BipMaterialQuotaService, HJ.Malt.Bip" />

    <component id="formula.service" type="HJ.Malt.Credit.Service.FormulaService, HJ.Malt.Credit" />
    <component id="uow.manager"
               service="HJ.Malt.Service.Credit.IUnitOfWorkManager, HJ.Malt"
               type="HJ.Malt.Service.Bip.BipUnitOfWorkManager, HJ.Malt" />

    <!-- INV -->
    <component id="receiving.service" type="HJ.Malt.Service.INV.ReceivingService, HJ.Malt" />
    <component id="rtv.service" type="HJ.Malt.Service.INV.ReturnToVendorService, HJ.Malt" />
    <component id="issuestuff.service" type="HJ.Malt.Service.INV.IssuingService, HJ.Malt" />
    <component id="submission.service" type="HJ.Malt.Service.INV.SubmittingService, HJ.Malt" />
    <component id="issuefg.service" type="HJ.Malt.Service.INV.DeliveringService, HJ.Malt" />
    <component id="inventory.service" type="HJ.Malt.Service.INV.InventoryService, HJ.Malt" >
      <parameters>
        <DefaultAllocateeOfProducingControlUnit>SalesOrder</DefaultAllocateeOfProducingControlUnit>
      </parameters>
    </component>
    <component id="location.service" type="HJ.Malt.Service.INV.RepositoryService, HJ.Malt">
      <parameters>
        <ReceivingArea>0000</ReceivingArea>
        <DefaultRepositories_RM_Export>
          <array>
            <!--外销塑胶原料仓-->
            <elem>100212</elem>
            <!--外销水口料仓-->
            <elem>100222</elem>
            <!--外销塑胶玩具仓-->
            <elem>100242</elem>
            <!--外销糖果原料仓-->
            <elem>100312</elem>
            <!--外销糖果添加剂仓-->
            <elem>100322</elem>
            <!--外销包装一仓-->
            <elem>100412</elem>
            <!--外销包装二仓-->
            <elem>100422</elem>
            <!--外销包装三仓-->
            <elem>100432</elem>
            <!--外销辅料仓-->
            <elem>10052</elem>
          </array>
        </DefaultRepositories_RM_Export>
        <DefaultRepositories_RM_Domestic>
          <array>
            <!--内销塑胶原料仓-->
            <elem>100211</elem>
            <!--内销水口料仓-->
            <elem>100221</elem>
            <!--内销塑胶玩具仓-->
            <elem>100241</elem>
            <!--内销糖果原料仓-->
            <elem>100311</elem>
            <!--内销糖果添加剂仓-->
            <elem>100321</elem>
            <!--内销包装一仓-->
            <elem>100411</elem>
            <!--内销包装二仓-->
            <elem>100421</elem>
            <!--内销包装三仓-->
            <elem>100431</elem>
            <!--内销辅料仓-->
            <elem>10051</elem>
          </array>
        </DefaultRepositories_RM_Domestic>
        <DefaultRepositories_FG_Export>
          <array>
            <!--外销成品仓-->
            <elem>10012</elem>
          </array>
        </DefaultRepositories_FG_Export>
        <DefaultRepositories_FG_Domestic>
          <array>
            <!--内销成品仓-->
            <elem>10011</elem>
          </array>
        </DefaultRepositories_FG_Domestic>
        <DefaultRepositories_SFG_Export>
          <array>
            <!--外销塑胶半制品仓-->
            <elem>100232</elem>
            <!--外销糖果半制品仓-->
            <elem>100332</elem>
          </array>
        </DefaultRepositories_SFG_Export>
        <DefaultRepositories_SFG_Domestic>
          <array>
            <!--内销塑胶半制品仓-->
            <elem>100231</elem>
            <!--内销糖果半制品仓-->
            <elem>100331</elem>
          </array>
        </DefaultRepositories_SFG_Domestic>
        <DefaultRepository_RTV>2002</DefaultRepository_RTV>
        <DefaultRepository_Scrap>2003</DefaultRepository_Scrap>
        <DefaultRepository_Customer>2001</DefaultRepository_Customer>

        <DefaultRepositories_WS_Export>
          <array>
            <!--外销塑胶车间-->
            <elem>WS002</elem>
            <!--外销糖果车间-->
            <elem>WS004</elem>
            <!--外销包装车间-->
            <elem>WS006</elem>
          </array>
        </DefaultRepositories_WS_Export>
        <DefaultRepositories_WS_Domestic>
          <array>
            <!--内销塑胶车间-->
            <elem>WS001</elem>
            <!--内销糖果车间-->
            <elem>WS003</elem>
            <!--内销包装车间-->
            <elem>WS005</elem>
          </array>
        </DefaultRepositories_WS_Domestic>
        <DefaultRepository_ProducingDepartment>
          PROD
        </DefaultRepository_ProducingDepartment>
      </parameters>
    </component>
    <component id="bip.repository.service" type="HJ.Malt.Service.INV.BipRepositoryService, HJ.Malt">
      <parameters>
        <DefaultRepositories_WS_Plastic>
          <array>
            <!--内销塑胶车间-->
            <elem>WS001</elem>
            <!--外销塑胶车间-->
            <elem>WS002</elem>
          </array>
        </DefaultRepositories_WS_Plastic>
        <DefaultRepositories_WS_Candy>
          <array>
            <!--内销糖果车间-->
            <elem>WS003</elem>
            <!--外销糖果车间-->
            <elem>WS004</elem>
          </array>
        </DefaultRepositories_WS_Candy>
        <DefaultRepositories_WS_Packing>
          <array>
            <!--内销包装车间-->
            <elem>WS005</elem>
            <!--外销包装车间-->
            <elem>WS006</elem>
          </array>
        </DefaultRepositories_WS_Packing>
      </parameters>
    </component>

    <!--
		<component id="mailsender.service" service="Castle.Components.Common.EmailSender.IEmailSender, Castle.Components.Common.EmailSender"
		  type="Castle.Components.Common.EmailSender.Smtp.SmtpSender, Castle.Components.Common.EmailSender" >
			<parameters>
				<hostname>10.0.0.11</hostname>
			</parameters>
		</component>-->

    <!-- Security -->
    <component id="security.filter"
               type="HJ.Malt.Filters.SecurityFilter, HJ.Malt.Web" />
    <!-- Security:Factory -->
    <component id="AuthorizationInspectorAgent"
               service="HJ.Malt.Service.Security.IAuthorizationInspector, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.AuthorizationInspectorAgent, HJ.Malt" />
    <component id="AuthorizationManagerAgent"
               type="HJ.Malt.Service.Security.AuthorizationManagerAgent, HJ.Malt" />
    <!-- Security:IAuthorizationInspector -->
    <component id="RepositoryAuthorizationInspector"
               service="HJ.Malt.Service.Security.IAuthorizationInspector, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.RepositoryAuthorizationInspector, HJ.Malt" />
    <component id="MonoRailUrlAuthorizationInspector"
               service="HJ.Malt.Service.Security.IAuthorizationInspector, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.MonoRailUrlAuthorizationInspector, HJ.Malt" />
    <!-- Security:IAuthorizationManager -->
    <component id="RepositoryAuthorizationManager"
               service="HJ.Malt.Service.Security.IAuthorizationManager, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.RepositoryAuthorizationManager, HJ.Malt" />
    <component id="MonoRailUrlAuthorizationManager"
               service="HJ.Malt.Service.Security.IAuthorizationManager, HJ.Malt.Core"
               type="HJ.Malt.Service.Security.Adapter.MonoRailUrlAuthorizationManager, HJ.Malt" />
    <!-- Security:IAccountService -->
    <component
        id="account.service"
        service="HJ.Malt.Service.Security.IAccountService, HJ.Malt.Core"
        type="HJ.Malt.Service.Security.SQLImpl.AccountServiceSqlImpl, HJ.Malt" />
    <!-- Security:IAuthenticationService -->
    <component
        id="authentication.service"
        service="HJ.Malt.Service.Security.IAuthenticationService, HJ.Malt.Core"
        type="HJ.Malt.Service.Security.Adapter.AuthenticationService, HJ.Malt" />
    <!-- Security:IMembershipService -->
    <component
        id="imembership.service"
        service="HJ.Malt.Service.Security.IMembershipService, HJ.Malt.Core"
        type="HJ.Malt.Service.Security.SQLImpl.MembershipServiceSqlImpl, HJ.Malt" />
    <!-- Security:LocationAuthorizationSesrvice -->
    <component
        id="location.authorization.service"
        type="HJ.Malt.Service.Security.LocationAuthorizationService, HJ.Malt" />
    <component id="security.initialization.service" type="HJ.Malt.Service.Security.InitializeService, HJ.Malt">
      <parameters>
        <DefaultAdminUser>admin</DefaultAdminUser>
        <InitialAdminUser>admin</InitialAdminUser>
        <SystemAdminRole>SystemAdmin</SystemAdminRole>
        <UsersRole>Users</UsersRole>
      </parameters>
    </component>
    <component id="security.bipinitialization.service"
               type="HJ.Malt.Service.Security.BipInitializeService, HJ.Malt">
      <parameters>
        <Sales>Sales</Sales>
        <SalesOrderViewer>SalesOrderViewer</SalesOrderViewer>

        <MaterialControl>MaterialControl</MaterialControl>

        <StoreSupervisor>StoreSupervisor</StoreSupervisor>
        <StoreKeeper>StoreKeeper</StoreKeeper>

        <WorkshopSupervisor>WorkshopSupervisor</WorkshopSupervisor>
        <CandyWorkshopSupervisor>CandyWorkshopSupervisor</CandyWorkshopSupervisor>
        <PlasticWorkshopSupervisor>PlasticWorkshopSupervisor</PlasticWorkshopSupervisor>
        <PackingWorkshopSupervisor>PackingWorkshopSupervisor</PackingWorkshopSupervisor>

        <WorkshopClerk>WorkshopClerk</WorkshopClerk>
        <CandyWorkshopClerk>CandyWorkshopClerk</CandyWorkshopClerk>
        <PlasticWorkshopClerk>PlasticWorkshopClerk</PlasticWorkshopClerk>
        <PackingWorkshopClerk>PackingWorkshopClerk</PackingWorkshopClerk>

        <PurchasingMananger>PurchasingMananger</PurchasingMananger>
        <PurchasingSupervisor>PurchasingSupervisor</PurchasingSupervisor>
        <Buyer>Buyer</Buyer>

        <BomMaintainer>BomMaintainer</BomMaintainer>
        <QuotaManager>QuotaManager</QuotaManager>

        <MaterialMaintainer>MaterialMaintainer</MaterialMaintainer>

        <InventoryAdjuster>InventoryAdjuster</InventoryAdjuster>

        <InventoryDisallocater>InventoryDisallocater</InventoryDisallocater>

        <PurchaseOrderViewer>PurchaseOrderViewer</PurchaseOrderViewer>

        <!--提交采购申请的人-->
        <PurchaseRequisitionPresenter>PurchaseRequisitionPresenter</PurchaseRequisitionPresenter>

        <DepartmentSupervisor>DepartmentSupervisor</DepartmentSupervisor>

        <TopManager>TopManager</TopManager>

        <ZeroPricePOMaintainer>ZeroPricePOMaintainer</ZeroPricePOMaintainer>

      </parameters>
    </component>
    <component id="repository.initlization.service" type="HJ.Malt.Service.INV.RepositoryInitializeService, HJ.Malt" />
    <component
        id="monorailurl.authorization.service"
        type="HJ.Malt.Service.Security.MonoRailUrlAuthorizationService, HJ.Malt" />

    <!-- System -->
    <component id="task.service" type="HJ.Malt.Service.System.TaskService, HJ.Malt" />
  </components>
</configuration>
