<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Common -->
    <component id="address.service" type="HJ.Common.Service.AddressService, HJ.Common">
      <parameters>
        <PurchasingDeliveryAddresses>
          <array>
            <elem>C001</elem>
          </array>
        </PurchasingDeliveryAddresses>
        <DefaultDeliveryAddress>C001</DefaultDeliveryAddress>
      </parameters>
    </component>

    <!-- Malt Common -->
    <component id="customer.service"
               service="HJ.Malt.Common.Service.ICustomerService, HJ.Malt.Common"
               type="HJ.Malt.Common.Service.CustomerService, HJ.Malt.Common">
      <paramters>
        <Default>C001</Default>
      </paramters>
    </component>
    <component id="unit.of.work.accessor"
               service="HJ.Malt.Common.Service.IUnitOfWorkAccessor, HJ.Malt.Common"
               type="HJ.Malt.Bip.Service.PROD.BipUnitOfWorkAccessor, HJ.Malt.Bip"/>
    <component id="defaultrepository.service" type="HJ.Malt.Common.Service.DefaultRepositoryService, HJ.Malt.Common">
      <parameters>
        <ReceivingArea>0000</ReceivingArea>
        <DefaultRepositories_RM_Export>
          <array>
            <elem>0103001</elem>
          </array>
        </DefaultRepositories_RM_Export>
        <DefaultRepositories_RM_Domestic>
          <array>
            <elem>0103001</elem>
          </array>
        </DefaultRepositories_RM_Domestic>
        <DefaultRepositories_FG_Export>
          <array>
            <elem>9001001</elem>
          </array>
        </DefaultRepositories_FG_Export>
        <DefaultRepositories_FG_Domestic>
          <array>
            <elem>9001001</elem>
          </array>
        </DefaultRepositories_FG_Domestic>
        <DefaultRepositories_SFG_Export>
          <array>
            <elem>0103002</elem>
          </array>
        </DefaultRepositories_SFG_Export>
        <DefaultRepositories_SFG_Domestic>
          <array>
            <elem>0103002</elem>
          </array>
        </DefaultRepositories_SFG_Domestic>
        <DefaultRepository_RTV>0601001</DefaultRepository_RTV>
        <DefaultRepository_Scrap>0601002</DefaultRepository_Scrap>

        <DefaultRepositories_WS_Export>
          <array>
            <elem>WS001</elem>
          </array>
        </DefaultRepositories_WS_Export>
        <DefaultRepositories_WS_Domestic>
          <array>
            <elem>WS001</elem>
          </array>
        </DefaultRepositories_WS_Domestic>
        <DefaultRepository_ProducingDepartment>
          PROD
        </DefaultRepository_ProducingDepartment>
      </parameters>
    </component>

    <!-- Purchasing -->
    <component id="po.service"
               service="HJ.Malt.Purchasing.Service.IPurchaseOrderService, HJ.Malt.Purchasing"
               type="HJ.Malt.Purchasing.Service.PurchaseOrderService, HJ.Malt.Purchasing" >
      <parameters>
        <PurchasingDeliverAddresses>
          <array>
            <elem>bip_dg</elem>
          </array>
        </PurchasingDeliverAddresses>
      </parameters>
    </component>

    <!-- Bip -->
    <component id="bip.sales.service"
                service="HJ.Malt.Bip.Service.Sales.IBipSalesOrderService, HJ.Malt.Bip"
               type="HJ.Malt.Bip.Service.Sales.BipSalesOrderService, HJ.Malt.Bip" />
    <component id="bip.material.service"
               type="HJ.Malt.Bip.Service.Inv.BipMaterialService, HJ.Malt.Bip"/>
    <component id="bip.repository.service" type="HJ.Malt.Bip.Service.Inv.BipRepositoryService, HJ.Malt.Bip">
      <parameters>
        <DefaultRepositories_WS_Plastic>
          <array>
            <elem>WS001</elem>
          </array>
        </DefaultRepositories_WS_Plastic>
        <DefaultRepositories_WS_Candy>
          <array>
            <elem>WS003</elem>
          </array>
        </DefaultRepositories_WS_Candy>
        <DefaultRepositories_WS_Packing>
          <array>
            <elem>WS001</elem>
          </array>
        </DefaultRepositories_WS_Packing>
      </parameters>
    </component>

    <component id="security.bipinitialization.service"
               type="HJ.Malt.Bip.Service.Security.BipInitializeService, HJ.Malt.Bip">
      <parameters>
        <Sales>Sales</Sales>
        <SalesOrderViewer>SalesOrderViewer</SalesOrderViewer>

        <MaterialControl>MaterialControl</MaterialControl>

        <StoreSupervisor>StoreSupervisor</StoreSupervisor>
        <StoreKeeper>StoreKeeper</StoreKeeper>

        <WorkshopSupervisor>WorkshopSupervisor</WorkshopSupervisor>
        <CandyWorkshopSupervisor>CandyWorkshopSupervisor</CandyWorkshopSupervisor>
        <PlasticWorkshopSupervisor>PlasticWorkshopSupervisor</PlasticWorkshopSupervisor>
        <PackingWorkshopSupervisor>PackingWorkshopSupervisor</PackingWorkshopSupervisor>

        <WorkshopClerk>WorkshopClerk</WorkshopClerk>
        <CandyWorkshopClerk>CandyWorkshopClerk</CandyWorkshopClerk>
        <PlasticWorkshopClerk>PlasticWorkshopClerk</PlasticWorkshopClerk>
        <PackingWorkshopClerk>PackingWorkshopClerk</PackingWorkshopClerk>

        <PurchasingMananger>PurchasingMananger</PurchasingMananger>
        <PurchasingSupervisor>PurchasingSupervisor</PurchasingSupervisor>
        <Buyer>Buyer</Buyer>

        <BomMaintainer>BomMaintainer</BomMaintainer>
        <QuotaManager>QuotaManager</QuotaManager>

        <MaterialMaintainer>MaterialMaintainer</MaterialMaintainer>

        <InventoryAdjuster>InventoryAdjuster</InventoryAdjuster>

        <InventoryDisallocater>InventoryDisallocater</InventoryDisallocater>

        <PurchaseOrderViewer>PurchaseOrderViewer</PurchaseOrderViewer>

        <!--提交采购申请的人-->
        <PurchaseRequisitionPresenter>PurchaseRequisitionPresenter</PurchaseRequisitionPresenter>

        <DepartmentSupervisor>DepartmentSupervisor</DepartmentSupervisor>

        <TopManager>TopManager</TopManager>

        <ZeroPricePOMaintainer>ZeroPricePOMaintainer</ZeroPricePOMaintainer>

      </parameters>
    </component>
  </components>
</configuration>
