<html>
	<head>
		<link rel="STYLESHEET" type="text/css" href="${siteRoot}/Content/css/style.css">
	</head>
	<body>
		$ValidationHelper.InstallScripts()
		$ValidationHelper.SetSubmitOptions(false,false,true,2)

		#if($flash.errors)
		<ul id="errors">
		#foreach($error in $flash.errors)
		  <li>$error</li>
		#end
		</ul>
		#end

		$childContent

		<p>
		#if (!($controller.AreaName==""))
			<A HREF="${siteRoot}/$controller.AreaName/Home/Index.rails">$commonText.subsystem $commonText.homepage</A>
		#end
		&nbsp;|&nbsp;<A HREF="${siteRoot}/Home/Index.rails">$commonText.site $commonText.homepage</A>
		</p>
	</body>
</html>