#if($material)
    <div id="repositories-header">
      <ul>
      <form action='${url.for("%{action='addrepository'}")}' method="POST" id="formAddRepository">
        ${f.hiddenfield("material", $material.Id)}
        <li>
          <span class="ui-widget-header ui-corner-left label2">${common.repository}:</span>
          <span class="ui-widget-content value2">
          <!--TODO: list only workshop repositories -->
          ${f.select("repository", $r.findall(), "%{class='required', value='id'}")}
          </span>
          <span class="ui-widget-header label2">${common.tradetype}:</span>
          <span class="ui-widget-content ui-corner-right value2">
          ${f.radiolistfield("TradeType", "HJ.Common.Domain.TradeTypeEnum, HJ.Common", "%{class='required'}")}
          </span>
          ${f.submit($common.add, "%{style='margin-left: 1em;'}")}
        </li>
      </form>
      </ul>
    </div>

<table id="material-repositories" class="display">
  <thead>
    <tr>
      <th>${common.repository}</th>
      <th>${common.description}</th>
      <th>${common.tradetype}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  #foreach($mr in $mrs)
    <tr>
      <td>${mr.Repository.Id}</td>
      <td>$!{mr.Repository.Description}</td>
      <td>$!{h.getenumname($mr.TradeType)}</td>
      <td>${mr.TradeType}</td>
      <td>${common.remove}</td>
    </tr>
  #end
  </tbody>
</table>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  var oMRs = $('#material-repositories').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"});
  fnjQuerifyInput();
  fnButtonEffect();
  $('#formAddRepository').validate({
    submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnAddToRepositories}); }
  });
  fnTrigerRemoveRepository();
// ]]>
</script>
#end

