#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
#instance-container { width: 900px; }
#instance-container h3, #instance-container div { padding: .8em; }
#instance-container h3 { margin-bottom: .8em; }
p { margin-top: .4em; }
span { float: left; }
.label2 { width: 80px; text-align: right; padding-right: .3em; }
.field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
.label2, .field2 { padding-top: .2em; padding-bottom: .2em; }
.description { width: 600px;}
.zip, .area { width: 180px; }
.address { width: 600px; }
.tel, .fax { width: 180px; }
/* ]]> */
</style>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    $('a').button();
    $('.label2').addClass('ui-state-active ui-corner-bl');
    $('.field2').addClass('ui-state-hover ui-corner-tr');
    $('p').addClass('ui-helper-clearfix');
    $('.tel input, .fax input').attr("size", "15");
    $('.zip input, .area input').attr("size", "15");
    $('.address input, .description input').attr("size", "60");
    $('#instance_Description').focus();
  });
// ]]>
</script>
#end

<form action='${url.for("%{action='update'}")}', method="POST">
${f.push("instance")}
${f.hiddenfield('Id')}

<div id="instance-container">
  <h3 class="ui-widget-header ui-corner-all">${common.address}: ${instance.Id}</h3>

  <div class="ui-widget ui-widget-content ui-corner-all">
  <p><span class="field2 description">${f.textfield("Description")}&nbsp;</span></p>

  <p>
    <span class="label2">${common.zip}:</span>
    <span class="field2 zip">${f.textfield("Zip")}&nbsp;</span>
    <span class="label2">${common.area}:</span>
    <span class="field2 area">${f.textfield("Area")}&nbsp;</span>
  </p>

  <p>
    <span class="label2">${common.address}1:</span>
    <span class="field2 address">${f.textfield("Address1")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.address}2:</span>
    <span class="field2 address">${f.textfield("Address2")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.address}3:</span>
    <span class="field2 address">${f.textfield("Address3")}&nbsp;</span>
  </p>

  <p>
    <span class="label2">${common.fax}1:</span>
    <span class="field2 fax">${f.textfield("Fax1")}&nbsp;</span>
    <span class="label2">${common.fax}2:</span>
    <span class="field2 fax">${f.textfield("Fax2")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.tel}1:</span>
    <span class="field2 tel">${f.textfield("Tel1")}&nbsp;</span>
    <span class="label2">${common.tel}2:</span>
    <span class="field2 tel">${f.textfield("Tel2")}&nbsp;</span>
    <span class="label2">${common.tel}3:</span>
    <span class="field2 tel">${f.textfield("Tel3")}&nbsp;</span>
  </p>
  </div>
</div>

${f.pop()}

<p>${f.submit($common.submit)}</p>
</form>

<p><a href='${url.for("%{action='remove', querystring='id=$instance.Id'}")}'>${common.remove}</a></p>
