<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[

/* DataTable应用示例 */
$(function(){
  //TableToolsInit
  TableToolsInit.sSwfPath = "${siteroot}/Content/dataTables-1.6.2/extras/TableTools/media/swf/ZeroClipboard.swf";

  oDataTable = $('#instances').dataTable({
    "sDom": 'T<"clear">lfrtip', //TableTools
    "aaSorting": [[1, 'asc']],  //DataTable初始化排序，默认："aaSorting": [[0, 'asc']]
    "bJQueryUI": true,
    "aoColumns": [
    {"bVisible": false},
    {"sClass": "material-id"},
    {"sClass": "material-name"},
    {"sClass": "material-spec"},
    {"sClass": "quantity"},
    {"sClass": "unit"},
    {"sClass": "short-date"},
    {"sClass": "repository"},
    null,
    {"fnRender": function(oObj){return fnRenderRemoveLink(oObj, '${url.for("%{action='removeentry'}")}');}, "bSortable": false}
    ],
    //"fnDrawCallback" is called on every 'draw' event.
    "fnDrawCallback": function(){fnClassTrigerManterialMenu();},
  });
});

// Jeditable 应用
      $('.vendor').editable('${url.for("%{action='changevendor'}")}', { //url to save data, need return viewable data, lake instance.Name
        loadurl : '${url.for("%{action='changingvendor'}")}',           //url to laad data in editable format, like instance.Id
        onblur: "ignore"                                                //当点击输入元素之外的地方时如何响应，submit, cancel or ignore
      }).keypress(function(){                                           //attach autocomplete to input element
          $('input', this).autocomplete('$url.for("%{area='pur', controller='vendor', action='autocomplete2'}")', {
            width: 300,
            matchContains: true,
            formatItem: formatVendorItem,
            formatResult: formatResult
          });
        });

//结合 fnDrawCallback 和 jeditable
  function fnRenderAssignLink(oObj){
    var id = oObj.aData[0];
    var content = '<span id="' + id + '" class="plan-container">' + oObj.aData[oObj.iDataColumn] + '</span>';
    alert(oObj.oSettings);
    $('#'+id).editable(function(value, settings){
      jQuery.post('${url.for("%{action='assigngoods', querystring='containerId=$container.Id'}")}',
      {id: id, value: value}, function(data){
        if(!fnHasError(data)){
          oGoods.fnDeleteRow(oObj.iRow);
        }
      }, 'json');
      return value;
    });
    return content;
  }

      "fnDrawCallback": function(){
        $('.allocated-quantity').editable(function(value, settings){
          var url = '${url.for("%{action='changeallocatedquantity', querystring='soId='}")}';
          url = url + '$so.Id&materialId=$material.Id';
          jQuery.post(url,
          {id: this.id, value: value}, function(data){
            if(!fnHasError(data)){
              oDataTable.fnDraw();
              $('#max').html(data['Max']);
              return data['CurrentQuantity'];
            }
          }, 'json');
          return value;
        }, { width: '30' });
      }

// DataTable fnFootCallback
        "fnFooterCallback": function( nRow, aaData, iStart, iEnd, aiDisplay ) {
          /* 第二页数据：
          aaData: [[aaa,bbb,ccc],[ddd,eee,fff]]
          iStart: 10
          iEnd: 12
          aiDisplay: { 0, 1} 切记不是10， 11，而是重新开始的0, 1
          */
          var aId = [];
          var aQuantity = [];
          for (var i=0; i<aaData.length; i++)
          {
            if(aId.indexOf(aaData[aiDisplay[i]][2]) == -1)
            {
              aId[aId.length] = aaData[aiDisplay[i]][2];
              aQuantity[aQuantity.length] = aaData[aiDisplay[i]][4] * 1;
            }else
              aQuantity[aId.indexOf(aaData[aiDisplay[i]][2])] += aaData[aiDisplay[i]][4] * 1;
          }
          var nCells = nRow.getElementsByTagName('th');
          nCells[1].innerHTML = fnTotalQuantity(aId, aQuantity);
        }

//jquery_validate
    $('#new_instance._form').validate({
      submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnAddToDT}); }
    });

//autocomplete
      $('#entry_Material_Id').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")', {
        width: 550,
        matchContains: true,
        formatItem: formatMaterialItem,
        formatResult: formatResult,
        max: 30
      }).focus();

// ]]>
</script>
