#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
p { margin-top: 1em; height: 25px; float: left; }
span { float: left; }
.label2 { width: 100px; text-align: right; padding-right: .3em; }
.field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
.label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}

.customer, .order-number { width: 250px; }

#criteria-container { padding: 0 1em 1.5em 1em; width: 500px; margin-top: 2em; }
#instances-container { padding-top: 1em; }
/* ]]> */
</style>

${j.jquery_dataTable()}
${j.jquery_autocomplete()}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    fnDecorative();
    $('#orderNumber').autocomplete('$url.for("%{area='sales', controller='salesorder', action='autocomplete2'}")', {
      width: 300,
      matchContains: true,
      formatItem: formatSalesOrderItem,
      formatResult: formatResult,
      max: 30
    }).focus();

    $('#btnView').click(function(){location.href='${url.for("%{action='view', querystring='orderNumber='}")}' + $('#orderNumber').val() + "&workShop=" + $('#workShop').val()}) + "&date=" + $('#date').val();

    oDataTable = $('#instances').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
    });

    $('.view').button();
    $('#date').datepicker();
  });

function fnView(orderNumber){
  location.href='${url.for("%{action='view', querystring='orderNumber='}")}' + orderNumber + "&workShop=" + $('#workShop').val() + "&date=" + $('#date').val();
}
// ]]>
</script>
#end

#capturefor(title)
${common.margin-of-pay}
#end

<div id="header-container" class="ui-helper-clearfix">
<h3>${common.margin-of-pay}</h3>
</div>

<div id="criteria-container" class="ui-widget-content ui-helper-clearfix">

  <p>
    <span class="label2">*${common.ordernumber}:</span>
    <span class="field2 order-number">
      <input type="text" name="orderNumber" class="required" id="orderNumber"/>
    </span>
  </p>
  
  <p>
    <span class="label2">*${common.workshop}:</span>
    <span class="field2 workshop">
      ${f.select("workShop", $workShops, "%{value='Id', class='required'}")}
    </span>
  </p>

  <p>
    <span class="label2">*${common.date}:</span>
    <span class="field2 date">
      <input type="text" name="date" class="required" id="date"/>
    </span>
  </p>

  <p><button id="btnView">${common.view}</button></p>

</div>

<div id="instances-container" class="ui-helper-clearfix">
<table id="instances" class="display">
  <thead>
    <tr>
      <th></th>
      <th>${common.id}</th>
      <th>${common.tradetype}</th>
    </tr>
  </thead>
  <tbody>
  #foreach($instance in $instances)
    <tr>
      <td>
        <a class="view" onclick="fnView('$instance.SheetId');">${common.view}</a>
      </td>
      <td>
        ${instance.SheetId}
      </td>
      <td>${h.getenumname($instance.TradeType)}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
