<!-- Deny locd means denied location -->
#foreach($locd in $denies)
#beforeall
	<table class="scaffoldtable" cellpadding="2" cellspacing="0" border="0">
	<tr><th>Location</th><th></th></tr>
#odd
	<tr class="scaffoldaltrow">
#even
	<tr class="scaffoldrow">
#each
		<td>${locd.ID}</td>
		<td>
		$AjaxHelper.ButtonToRemote("Remove","RemoveDeniedAuthorization.rails","%{update='deny',with='locationId=${locd.ID}&type=${type}&name=${name}'}")
		</td>
	</tr>
#afterall
	</table>
#end
