#capturefor(head)
<style type="text/css" media="screen">
  #new-instance-form { padding-bottom: .5em; margin-bottom: .3em; }
  #new-instance-form span { float: left; }
  #new-instance-form p { margin-top: 1em; height: 25px; float: left; }
  .label2 { width: 100px; text-align: right; padding-right: .3em; }
  .field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; width: 190px; }
  .label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}
</style>

${j.jquery_autocomplete()}
${dt.DataTable()}

<script type="text/javascript" language="javascript" charset="utf-8">
$(function(){
  jQuery.getJSON('${url.for("%{area='common', controller='currency', action='listjson'}")}', null, function(data){$('#currency').addItems(data);});

  jQuery.getJSON('${url.for("%{area='common', controller='taxrate', action='listjson'}")}', null, function(data){$('#taxRate').addItems(data);});

  jQuery.getJSON('${url.for("%{area='common', controller='unit', action='listjson'}")}', null, function(data){$('#priceUnit').addItems(data);});

  $('#material').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")', {
    width: 550,
    matchContains: true,
    formatItem: formatItem3,
    formatResult: formatResult,
    max: 30
  });

  $('#vendor').autocomplete('$url.for("%{area='pur', controller='vendor', action='autocomplete2'}")', {
    width: 550,
    matchContains: true,
    formatItem: formatVendorItem,
    formatResult: formatResult,
    max: 30
  });

  $('#effectiveDate, #expirationDate').datepicker();

  oDataTable = $('#instances').dataTable({
    "bJQueryUI": true,
    "sDom": 'T<"clear">lfrtip',
    "oTableTools": {
      "sSwfPath": "${dt.SwfPath2()}"
    },
    "sPaginationType": "full_numbers",
    "aaSorting": [[10, "desc"]],
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": '$url.for("%{action='search'}")',
    "fnServerParams": function(aoData){
      aoData.push({ "name": "quotationNo", "value": $('#quotationNo').val() });
      aoData.push({ "name": "vendor", "value": $('#vendor').val() });
      aoData.push({ "name": "material", "value": $('#material').val() });
      aoData.push({ "name": "currency", "value": $('#currency').val() });
      aoData.push({ "name": "taxRate", "value": $('#taxRate').val() });
      aoData.push({ "name": "priceUnit", "value": $('#priceUnit').val() });
      aoData.push({ "name": "effectiveDate", "value": $('#effectiveDate').val() });
      aoData.push({ "name": "expirationDate", "value": $('#expirationDate').val() });
      aoData.push({ "name": "minimumOrder", "value": $('#minimumOrder').val() });
      aoData.push({ "name": "status", "value": $('#status').val() });
    },
    "aoColumns": [
      {"bVisible": false},
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      {"bVisible": ${showCommand.ToString().ToLower()}, "fnRender": function(oObj){return fnShowCommand(oObj);}},
    ],
  });

  $('#btnQuery').click(function(){oDataTable.fnDraw();});

  fnDecorative();
});

function fnShowCommand(oObj){
  var url = '${url.for("%{action='appraise', querystring='id='}")}' + oObj.aData[0];
  return '<a href="' + url + '" target="_blank">${common.appraise}</a>'
}
</script>
#end

#capturefor(title)
  ${common.vendor-quote}
#end

<header>
  <h3>${common.vendor-quote}</h3>
</header>

<div id="new-instance-form" class="ui-helper-clearfix">
  <p>
    <span class="label2">${common.quotation-no}:</span>
    <span class="field2">${f.textfield("quotationNo")}</span>
  </p>

  <p>
    <span class="label2">${common.vendor}:</span>
    <span class="field2">${f.textfield("vendor")}</span>
  </p>

  <p>
    <span class="label2">${common.material}:</span>
    <span class="field2">${f.textfield("material")}</span>
  </p>

  <p>
    <span class="label2">${common.price-unit}:</span>
    <span class="field2">${f.select("priceUnit", null)}</span>
  </p>

  <p>
    <span class="label2">${common.currency}:</span>
    <span class="field2">${f.select("currency", null)}</span>
  </p>

  <p>
    <span class="label2">${common.tax-rate}:</span>
    <span class="field2">${f.select("taxRate", null)}</span>
  </p>

  <p>
    <span class="label2">${common.effectivedate}:</span>
    <span class="field2">${f.textfield("effectiveDate")}</span>
  </p>

  <p>
    <span class="label2">${common.expiration-date}:</span>
    <span class="field2">${f.textfield("expirationDate")}</span>
  </p>

  <p>
    <span class="label2">${common.minimumorderquantity}:</span>
    <span class="field2">${f.numberfield("minimumOrder")}</span>
  </p>

  <p>
    <span class="label2">${common.status}:</span>
    <span class="field2">
    ${f.select("status", $enum.enumtopairs("HJ.Malt.Purchasing.Domain.VendorQuoteStatusEnum, HJ.Malt.Purchasing"), "%{text='second', value='first'}")}
    </span>
  </p>

  <p>
    <button id="btnQuery">${common.query}</button>
  </p>
</div>

<div id="instances-list-container">
  <table id="instances" class="display">
    <thead>
      <tr>
        <th>${common.id}</th>
        <th>${common.quotation-no}</th>
        <th>${common.vendor}</th>
        <th>${common.material}</th>
        <th>${common.material-name}</th>
        <th>${common.material-spec}</th>
        <th>${common.currency}</th>
        <th>${common.tax-rate}</th>
        <th>${common.unitprice}</th>
        <th>${common.price-unit}</th>
        <th>${common.minimumorderquantity}</th>
        <th>${common.effectivedate}</th>
        <th>${common.expiration-date}</th>
        <th>${common.status}</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>
