<form id="returning-form" action='${url.for("%{action='dealentry'}")}' method="POST">

${f.installscripts()}
<input type="hidden" name="entryId" value="${entry.Id}" />
<p>
  <span class="label2">${common.material}:</span>
  <span class="field2 material">${entry.Material.Id} $!{entry.Material.Name} $!{entry.Material.Specification}</span>
</p>
<p>
  <span class="label2">${common.quantity}:</span>
  <span class="field2">${entry.Quantity} $!{m.TryGetPrimaryUnit($entry.Material).Description}</span>
</p>

#foreach($repository in $repositories)
<p>
  <span class="label2 repository-with-desc">[${repository.Id}] $!{repository.Description}:</span>
  <span class="field2">
  <input type="hidden" name="repository[]" value="${repository.Id}" />
  <input type="text" name="quantity[]" value="${entry.Quantity}" max="${entry.Quantity}"/>
  $!{m.TryGetPrimaryUnit($entry.Material).Description}
  </span>
</p>
#end

<p><input type="submit" value="${common.placegoods}" /></p>
</form>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  fnDecorative();
  $('#returning-form').validate({
    submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnClosePlacing}); }
  });
// ]]>
</script>
