## Draft for maintains ReturnToWarehouse collections.
#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
#new-instance-container { margin-top: 1em; }
#header-container .display { margin-top: 1em; }
#entry_Material_Id, .material-menu-triger { float: left; }
/* ]]> */
</style>

${j.jquery_autocomplete()}
${j.jquery_dataTable()}
${j.jquery_form()}
${j.jquery_validate()}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    $('#header-container li').button();

    $('#form-new-entry0').validate({
      submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnAddEntry0}); }
    });

    $('#entry_Material_Id').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")',{
      width: 550,
      matchContains: true,
      formatItem: formatMaterialItem,
      formatResult: formatResult,
      max: 30
    }).focusout(function(){
      if($(this).val() > ""){
        fnTrigerMaterialMenu(this, $(this).val());
      }
    }).focusin(function(){
      $('.material-menu-triger').remove();
    });

    $('#entry_OrderNumber').autocomplete('$url.for("%{area='sales', controller='salesorder', action='autocomplete2'}")', {
      width: 300,
      matchContains: true,
      formatItem: formatSalesOrderItem,
      formatResult: formatResult,
      max: 30
    }).focus();

    oDataTable = $('#entries').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aoColumns": [
      {"bVisible": false},
      {"sClass": "trade-type"},
      {"sClass": "jo-id"},
      {"sClass": "material-id"},
      {"sClass": "material-name"},
      {"sClass": "material-spec"},
      {"sClass": "quantity"},
      {"sClass": "unit"},
      {"sClass": "notice"},
      {"fnRender": function(oObj){return fnRenderRemoveLink(oObj, '${url.for("%{action='removeentry0'}")}');}, "bSortable": false}
      ],
      "fnDrawCallback": function(){fnClassTrigerMaterialMenu();}
    });
  });

  function fnAddEntry0(data){
    if(!fnHasError(data)){
      oDataTable.fnAddData([data['Id'], data['TradeType'], data['OrderNumber'], data['MaterialId'],  data['MaterialName'], data['MaterialSpec'], data['Quantity'], data['UnitDesc'], data['Notice'], '${common.remove}']);
      $('#entry_Material_Id').val("");
      $('#entry_Quantity').val("");
      $('#entry_Notice').val("");
      $('#entry_OrderNumber').val("").focus();
    }
  }
// ]]>
</script>
#end

#capturefor(title)
${common.return-to-warehouse}: ${sheet.Id}
#end

<div id="header-container">
<h3>${common.return-to-warehouse}</h3>
<ul>
  <li><a href='${url.for("%{action='draft4', querystring='id=$sheet.Id'}")}'>${common.return-to-warehouse} (${common.without-order})</a></li>
  <li><a href='${url.for("%{action='draft1', querystring='id=$sheet.Id'}")}'>${common.return-scrap-to-warehouse}</a></li>
  <li><a href='${url.for("%{action='draft2', querystring='id=$sheet.Id'}")}'>${common.return-to-warehouse-for-rtv}</a></li>
  <li><a href='${url.for("%{action='finalize', querystring='id=$sheet.Id'}")}'>${common.finish}</a></li>
</ul>
<table class="display">
  <thead>
    <tr class="ui-widget-header">
      <th>${common.id}</th>
      <th>${common.return-from}</th>
      <th>${common.returned-by}</th>
      <th>${common.status}</th>
      <th>${common.createdate}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${sheet.Id}</td>
      <td>$!{sheet.ReturnFrom}</td>
      <td>${sheet.ReturnedBy}</td>
      <td>${h.getenumname($sheet.Status)}</td>
      <td>${sheet.CreateDate.ToShortDateString()}</td>
    </tr>
  </tbody>
</table>
</div>

<div id="new-instance-container">
${h.start_with_layout($url.for("%{action='addentry0'}"), "form-new-entry0")}
${f.push("entry")}

$f.hiddenfield("Sheet.Id")
${h.field($common.ordernumber, $f.textfield("OrderNumber", "%{class='required'}"), true)}
${h.field($common.material, $f.textfield("Material.Id", "%{class='required'}"), true)}
${h.field($common.requiredquantity, $f.textfield("Quantity", "%{class='required', min='0.000000001'}"), true)}
${h.field($common.notice, $f.textfield("Notice"))}
${h.field("", $f.submit($common.create))}

${f.pop()}
${h.end_with_layout()}
</div>

<div id="instances-container">
<table id="entries" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.tradetype}</th>
      <th>${common.ordernumber}</th>
      <th>${common.material}</th>
      <th>${common.name}</th>
      <th>${common.specification}</th>
      <th>${common.quantity}</th>
      <th>${common.unit}</th>
      <th>${common.notice}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $entries)
    <tr>
      <td>${entry.Id}</td>
      <td>${h.getenumname($entry.TradeType)}</td>
      <td>$!{entry.OrderNumber}</td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Name}</td>
      <td>$!{entry.Material.Specification}</td>
      <td>${entry.Quantity}</td>
      <td>$!{m.trygetprimaryunit($entry.Material).Description}</td>
      <td>$!{entry.Notice}</td>
      <td>${common.remove}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
