$HtmlHelper.Form("DoUniversalSearch.rails", "universalsearch", "get", "$ValidationHelper.GetValidationTriggerFunction()")

<div id="locationConditions"></div>
<div id="projectConditions"></div>
<div id="materielConditions"></div>
<div id="customerConditions"></div>
<div id="allocateeConditions"></div>

<p>${HtmlHelper.SubmitButton("${commonText.search}")}</p>

<ul id="maintab" class="shadetabs">
<li class="selected"><a href="#default" rel="ajaxcontentarea">${commonText.intro}</a></li>
<li><a href="selectlocationcondition.rails" rel="ajaxcontentarea">${commonText.location}</a></li>
<li><a href="selectprojectcondition.rails" rel="ajaxcontentarea">${commonText.project}</a></li>
<li><a href="selectmaterielcondition.rails" rel="ajaxcontentarea">${commonText.material}</a></li>
<li><a href="selectcustomercondition.rails" rel="ajaxcontentarea">${commonText.customer}</a></li>
<li><a href="selectallocateecondition.rails" rel="ajaxcontentarea">Allocatee</a></li>
</ul>

<div id="ajaxcontentarea" class="contentstyle">
<p>For each condition in following tabs, if you don't specify any options, system will assume you have selected all options for that condition. <p>
<p>For example: if you don't specify any Customer for query condition, then system will retrive records for all Customers.</p>
</div>

$HtmlHelper.EndForm()

<script type="text/javascript">
//Start Ajax tabs script for UL with id="maintab" Separate multiple ids each with a comma.
startajaxtabs("maintab")
</script>

