#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  h3 { font-size: 123.1%; }
  #panel { width: 400px; }
  p { margin-top: 1em; height: 120%; float: left; }
  span { float: left; }
  .label2 { width: 100px; text-align: right; padding-right: .3em; }
  .field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
  .label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}

  .description .leven-name { width: 250; }
  /* ]]> */
  </style>

  ${j.jquery_autocomplete()}
  ${j.jquery_dataTable()}
  ${j.jquery_form()}
  ${j.jquery_validate()}
  
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('a').button();
      fnDecorative();
      $('#instance_Id').focus();
      oInstances = $('#instances').dataTable({
        "bServerSide": true,
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aoColumns": [
        {"fnRender": function(oObj){return fnGetLink(oObj.aData[0]);}, "sType": "html", "sClass": "id"},
        {"sClass": "description"},
        {"sClass": "level-name1"},
        {"sClass": "level-name2"},
        {"sClass": "level-name3"},
        {"sClass": "level-name4"},
        {"sClass": "level-name5"},
        {"sClass": "level-name6"},
        null
        ]
      });
      $('#new-instance').validate({
        submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnAddToDT}); }
      });
    });

    function fnDecorative(){
      $('.label2').addClass('ui-state-active ui-corner-bl');
      $('.field2').addClass('ui-state-hover ui-corner-tr');
      $(':submit').button();
    }

    function fnAddToDT(data){
      if(!fnHasError(data)){
        oInstances.fnAddData([data['Id'], data['Description'], data['LevelName1'], data['LevelName2'], data['LevelName3'], data['LevelName4'], data['LevelName5'], data['LevelName6'], data['IsActive']]);
        $('#instance_Description').val("");
        $('#instance_Level1').val("");
        $('#instance_Level2').val("");
        $('#instance_Level3').val("");
        $('#instance_Level4').val("");
        $('#instance_Level5').val("");
        $('#instance_Level6').val("");
        $('#instance_IsActive').val("");
        $('#instance_Id').val("").focus();
      }
    }
  // ]]>
  </script>
#end

<h3>${common.createnew} ${common.repository}</h3>
<a href='${url.for("%{action='list'}")}'>${common.returntolist}</a>

<div id="panel" class="ui-helper-clearfix">
  <form action='${url.for("%{action='create'}")}' method="POST" id="new-instance">
  ${f.push("instance")}
  <p>
    <span class="label2">*${common.id}:</span>
    <span class="field2 description">${f.textfield("Id", "%{size='30', class='required'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.description}:</span>
    <span class="field2 description">${f.textfield("Description", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}1:</span>
    <span class="field2 level-name">${f.textfield("LevelName1", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}2:</span>
    <span class="field2 level-name">${f.textfield("LevelName2", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}3:</span>
    <span class="field2 level-name">${f.textfield("LevelName3", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}4:</span>
    <span class="field2 level-name">${f.textfield("LevelName4", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}5:</span>
    <span class="field2 level-name">${f.textfield("LevelName5", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}6:</span>
    <span class="field2 level-name">${f.textfield("LevelName6", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.enabled}?</span>
    <span class="field2 level-name">${f.checkboxfield("IsActive")}&nbsp;</span>
  </p>
  ${f.pop()}
  <p>
    ${f.submit($common.submit)}
  </p>
  </form>
</div>

<div id="instances-container">

<table id="instances" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.description}</th>
      <th>${common.name}1</th>
      <th>${common.name}2</th>
      <th>${common.name}3</th>
      <th>${common.name}4</th>
      <th>${common.name}5</th>
      <th>${common.name}6</th>
      <th>${common.enabled}</th>
    </tr>
  </thead>
</table>
</div>
