#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  h3 { font-size: 123.1%; }
  #panel { width: 400px; }
  p { margin-top: 1em; height: 120%; float: left; }
  span { float: left; }
  .label2 { width: 100px; text-align: right; padding-right: .3em; }
  .field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
  .label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%; }
  .field2 { width: 200px;}

  .description .leven-name { width: 250; }
  /* ]]> */
  </style>

  ${j.jquery_autocomplete()}
  
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      fnDecorative();
    });

    function fnDecorative(){
      $('.label2').addClass('ui-state-active ui-corner-bl');
      $('.field2').addClass('ui-state-hover ui-corner-tr');
      $(':submit').button();
    }
  // ]]>
  </script>
#end

<h3>${common.repository}: $!{instance.Id}</h3>

<div id="panel" class="ui-helper-clearfix">
  <p>
    <span class="label2">${common.description}:</span>
    <span class="field2 description">$!{instance.Description}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}1:</span>
    <span class="field2 level-name">$!{instance.LevelName1}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}2:</span>
    <span class="field2 level-name">$!{instance.LevelName2}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}3:</span>
    <span class="field2 level-name">$!{instance.LevelName3}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}4:</span>
    <span class="field2 level-name">$!{instance.LevelName4}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}5:</span>
    <span class="field2 level-name">$!{instance.LevelName5}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.name}6:</span>
    <span class="field2 level-name">$!{instance.LevelName6}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.enabled}?</span>
    <span class="field2 level-name">$!{instrance.IsActive}&nbsp;</span>
  </p>
</div>
