<h3>Get Input Info:</h3>
$HtmlHelper.Form("GetInputInfoFromTravelerB-Save.rails", "getinputinfofromtravelerb", "post", "$ValidationHelper.GetValidationTriggerFunction()")
#foreach($item in $bomcmpts)
#beforeall
	#set($i = 0)
	<table class="scaffoldtable" cellpadding="2" cellspacing="0" border="0">
		<tr class="scaffoldrow">
			<th>${commonText.material}:</th>
			<th>${commonText.customer}:</th>
			<th>${commonText.quantity}:</th>
			<th>${wip.allocatee}:</th>
			<th>${wip.rtno}:</th>
			<th>${wip.lineno}:</th>
			<th>${wip.wdweek}:</th>
		</tr>
#odd
		<tr class="scaffoldrow">
#even
		<tr class="scaffoldaltrow">
#each
		#if($item.Key.Equals($traveler.Material))
			<td>$HtmlHelper.InputHidden("inputs[${i}].Inmat", "${item.Key.ID}")${item.Key.ID}</td>
			<td>$HtmlHelper.InputHidden("inputs[${i}].Incust", "${traveler.Customer.ID}")${traveler.Customer.ID.Trim()}</td>
			<td>$HtmlHelper.InputHidden("inputs[${i}].Inqty", "${traveler.Quantity}")${traveler.Quantity}</td>
			<td>$HtmlHelper.InputHidden("inputs[${i}].Inalcat", "${traveler.Allocatee}")${traveler.Allocatee.Trim()}</td>
			<td></td>
			<td></td>
			<td></td>
		#else
			<td>$HtmlHelper.InputHidden("inputs[${i}].Inmat", "${item.Key.ID}")${item.Key.ID}</td>
			<td>
			$FormHelper.Select("inputs[${i}].Incust", ${defaultCustomer}, ${customers}, "%{Text='ID', Value='ID'}")
			</td>
			#set($inqty = $!Session.quantity * $item.Value)
			<td>$HtmlHelper.InputHidden("inputs[${i}].Inqty", "${inqty}")${inqty}</td>
			<td>$HtmlHelper.InputText("inputs[${i}].Inalcat", "$!{Session.allocatee.Trim()}", 30, 100)</td>
			<td>$HtmlHelper.InputText("inputs[${i}].Inrt", "", 15, 15,  $DictHelper.Create("validators=blank"))</td>
			<td>$HtmlHelper.InputText("inputs[${i}].Inline", "0", 3, 3, $DictHelper.Create("validators=number|0|0|999"))</td>
			<td>$HtmlHelper.InputText("inputs[${i}].Inweek", "0", 2, 2, $DictHelper.Create("validators=number|0|0|54"))</td>
		#end
#after
		</tr>
	#set($i=$i+1)
#afterall
	</table>
#end
<p>
#if($WizardHelper.HasPreviousStep())
$WizardHelper.LinkToPrevious("${commonText.previousstep}")
#end
$HtmlHelper.SubmitButton($commonText.nextstep)
</p>
$HtmlHelper.EndForm()

