<h3>Select BOM Schema</h3>
$HtmlHelper.Form("SelectBOMSchema-Save.rails", "selectbomschema", "post", "$ValidationHelper.GetValidationTriggerFunction()")
<p>$HtmlHelper.LabelFor("bomId", "Available BOM Schemas:")
#foreach($bom in $boms)
#beforeall
<ul>
#each
<li>
  #if($bom.Id==$defaultBom.Id)
  $HtmlHelper.InputRadio("bomId", $bom.Id, $DictHelper.Create("checked"))
  #else
  $HtmlHelper.InputRadio("bomId", $bom.Id)
  #end
  $bom.Description
  #foreach($bomcmpt in $bom.Components)
  #beforeall
  <ul>
	#each
	<li><font color="green">$bomcmpt.Key.ID </font>[<font color="blue">$bomcmpt.Value</font>]</li>
	#afterall
	</ul>
	#end
</li>
#afterall
</ul>
#end
</p>
<p>
#if($WizardHelper.HasPreviousStep())
$WizardHelper.LinkToPrevious("${commonText.previousstep}")
#end
$HtmlHelper.SubmitButton($commonText.nextstep)
</p>
$HtmlHelper.EndForm()
