#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  #doc-header { padding: 0 0 1em; }
  #instance { float: left; width: 800px; }
  #new-entry-container div { width: 650px; padding: 0 .5em 1.5em 1.5em; }

  #new-entry-container p { margin-top: 1em; height: 25px; float: left; }
  #new-entry-container span { float: left; }
  .label2 { width: 100px; text-align: right; padding-right: .3em; }
  .field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; width: 190px; }
  .label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}
  .material { width: 500px; }
  .button { margin-left: 1em; }
  /* ]]> */
  </style>
  
  ${j.jquery_form()}
  ${j.jquery_validate()}
  ${j.jquery_dataTable()}
  ${j.jquery_autocomplete()}
 
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    var oInstances;
    $(function(){
      $('.button').button();

      oInstances = $('#instances').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aoColumns": [
        {"bVisible": false},
        {"bVisible": false},
        {"sClass": "material-id"},
        {"sClass": "material-name"},
        {"sClass": "material-spec"},
        {"sClass": "quantity"},
        {"sClass": "unit"},
        {"sClass": "price"},
        {"sClass": "short-date"},
        {"sClass": "quantity"},
        {"sClass": "vendor"},
        {"sClass": "repository"},
        null,
        null,
        {"fnRender": function(oObj){return fnRenderSelectLink(oObj, "fnSelect");}, "bSortable": false}
        ],
      });

      oDataTable = $('#entries').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aoColumns": [
        {"bVisible": false},
        {"sClass": "material-id"},
        {"sClass": "material-name"},
        {"sClass": "material-spec"},
         null, null, null, null,
        {"fnRender": function(oObj){return fnRenderRemoveLink(oObj, '${url.for("%{action='removeentry2'}")}');}, "bSortable": false}
        ],
      });

      $('#entry_Material_Id').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")', {
        width: 550,
        matchContains: true,
        formatItem: formatItem3,
        formatResult: formatResult,
        max: 30
      }).focus();
    });

    function fnSelect(id, iRow)
    {
      oInstances.fnDeleteRow(iRow);
      $('#instances-container').hide("clip");
      $('#new-entry-container').load('${url.for("%{action='newentry'}")}', {poId: "${instance.Id}", prId: id}).show("clip");
    }

    function fnAddToDT(data){
      if(!fnHasError(data)){
        oDataTable.fnAddData([data['Id'], data['Material'], data['MaterialName'], data['MaterialSpecification'], data['BaseUnit'] + " " + data['UnitDescription'], data['UnitPrice'], data['RequiredQuantity'], data['RequiredDate'], '${common.remove}']);
        $('#new-entry-container').hide("clip");
        $('#instances-container').show("clip");
      }
    }

    function fnDecorative(){
      $('.label2').addClass('ui-state-active ui-corner-bl');
      $('.field2').addClass('ui-state-hover ui-corner-tr');
      $(':submit').button();
    }
  // ]]>
  </script>
#end

<div id="instances-container">
<h3>${common.purchaserequisition}:</h3>
<table id="instances" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.source}</th>
      <th>${common.material}</th>
      <th></th>
      <th></th>
      <th>${common.requiredquantity}</th>
      <th>${common.unit}</th>
      <th>${common.unitprice}</th>
      <th>${common.requireddate}</th>
      <th>${common.orderedquantity}</th>
      <th>${common.vendor}</th>
      <th>${common.applicant}/${common.department}</th>
      <th>${common.responsible}</th>
      <th>${common.notice}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  #foreach($pr in $instances)
    <tr>
      <td>${pr.Id}</td>
      <td>${pr.Source}</td>
      <td>${pr.Material.Id}</td>
      <td>$!{pr.Material.Name}</td>
      <td>$!{pr.Material.Specification}</td>
      <td>${pr.RequiredQuantity}</td>
      <td>$!{pr.Unit.Description}</td>
      <td>$!{pr.UnitPrice}</td>
      <td>${pr.RequiredDate.ToShortDateString()}</td>
      <td>${pr.OrderedQuantity}</td>
      <td>$!{pr.Vendor.Name}</td>
      <td>$!{pr.Applicant} $!{r.getdescription($pr.Applicant)}</td>
      <td>$!{pr.Responsible}</td>
      <td>$!{pr.Notice}</td>
      <td>${common.select}</td>
    </tr>
  #end
  </tbody>
</table>
</div>

<div id="new-entry-container" class="ui-helper-hidden"></div>

<h3>${common.purchaseorder}:</h3>
<div id="doc-header" class="ui-helper-clearfix">
<table id="instance" class="display">
  <thead>
    <tr class="ui-widget-header">
      <th>Id</th>
      <th>${common.vendor}</th>
      <th>${common.createdate}</th>
      <th>${common.buyer}</th>
      <th>${common.shipto}</th>
      <th>${common.notice}</th>
      <th>${common.status}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${instance.Id}</td>
      <td>${instance.Vendor.Id} $!{instance.Vendor.Name}</td>
      <td>${instance.CreatedDate.ToShortDateString()}</td>
      <td>${instance.Buyer}</td>
      <td>${instance.ShipTo.Id} $!{instance.ShipTo.Description}</td>
      <td>$!{instance.Notice}</td>
      <td>${h.getenumname($instance.Status)}</td>
    </tr>
  </tbody>
</table>
<a href='${url.for("%{action='finalize', querystring='id=$instance.Id'}")}' class="button">${common.finalize}</a>
</div>

<div id="entries-container">
<table id="entries" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.material}</th>
      <th></th>
      <th></th>
      <th>${common.unit}</th>
      <th>${common.unitprice}</th>
      <th>${common.requiredquantity}</th>
      <th>${common.requireddate}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $instance.Entries)
    <tr>
      <td>${entry.Id}</td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Name}</td>
      <td>$!{entry.Material.Specification}</td>
      <td>${entry.Unit.Id} $!{entry.Unit.Description}</td>
      <td>${entry.UnitPrice}</td>
      <td>${entry.RequiredQuantity}</td>
      <td>${entry.RequiredDate.ToShortDateString()}</td>
      <td>${common.remove}</td>
    </tr>
  #end
  </tbody>
</table>
</div>

<div class="ui-helper-clearfix">
</div>

