#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  #panel1 { width: 1000px; height: 240px; margin: .5em .5em .5em .5em; padding: .5em .5em .5em .5em; }
  #doc-header { float: left;}
  #instance { float: left; width: 250px; }
  #doc-header h3, #doc-header p { float: left; }
/*  #new-entry-container { margin: .5em 1em .5em 1em; } */
  #new-entry-container div { width: 680px; padding: 0 .5em 1.5em 1.5em; float: right; }

  #new-entry-container p { margin-top: 1em; height: 25px; float: left; }
  #new-entry-container span { float: left; }
  .label2 { width: 100px; text-align: right; padding-right: .3em; }
  .field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; width: 190px; }
  .label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}
  .material { width: 530px; }
  .button { margin-left: 1em; }
  .operation { width: 80px; }
  /* ]]> */
  </style>
  
  ${j.jquery_form()}
  ${j.jquery_validate()}
  ${j.jquery_dataTable()}
  ${j.jquery_autocomplete()}
 
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('.button').button();


      oDataTable = $('#entries').dataTable({
        "bJQueryUI": true,
        //"sPaginationType": "full_numbers",
        "bPaginate": false,
        "sScrollY": "220px",
        "sScrollX": "100%",
        "aoColumns": [
        {"bVisible": false},
        {"sClass": "material-id"},
        {"sClass": "material-desc"},
         null, null, null, null,
        {"fnRender": function(oObj){return fnRenderRemoveLink(oObj, '${url.for("%{action='removeentry2'}")}');}, "bSortable": false}
        ],
      });

      $('#entry_Material_Id').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")', {
        width: 550,
        matchContains: true,
        formatItem: formatItem3,
        formatResult: formatResult,
        max: 30
      }).focus();

      $('#instances-container').load('${url.for("%{action='listavailablerequisitions'}")}');
    });

    function fnSelect(id, iRow)
    {
      //oInstances.fnDeleteRow(iRow);
      //$('#instances-container').hide("clip");
      $('#new-entry-container').load('${url.for("%{action='newentry'}")}', {poId: "${instance.Id}", prId: id}).show("clip");
    }

    function fnAddToDT(data){
      if(!fnHasError(data)){
        oDataTable.fnAddData([data['Id'], data['Material'], data['MaterialDescription'], data['BaseUnit'] + " " + data['UnitDescription'], data['UnitPrice'], data['RequiredQuantity'], data['RequiredDate'], '${common.remove}']);
        //$('#new-entry-container').hide("clip");
        //$('#instances-container').show("clip");
        $('#new-entry-container').html('');
        $('#instances-container').load('${url.for("%{action='listavailablerequisitions'}")}');
      }
    }
/*
    function fnDecorative(){
      $('.label2').addClass('ui-state-active ui-corner-bl');
      $('.field2').addClass('ui-state-hover ui-corner-tr');
      $(':submit').button();
    }
*/    
  // ]]>
  </script>
#end

#capturefor(title)
${common.purchaseorder}: ${instance.Id}
#end

<div id="instances-container">
</div>

<div id="panel1" class="ui-widget-content ui-corner-all ui-helper-clearfix">

<div id="doc-header">
<h3>${common.purchaseorder}: ${instance.Id}</h3>

<p>
  <a href='${url.for("%{action='finalize', querystring='id=$instance.Id'}")}'
   class="button">${common.finalize}</a>
</p>

<table id="instance" class="display">
  <thead>
    <tr class="ui-widget-header">
      <th>${common.vendor}</th>
      <th>${common.createdate}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${instance.Vendor.Id} $!{instance.Vendor.Name}</td>
      <td>${instance.CreatedDate.ToShortDateString()}</td>
    </tr>
  </tbody>
  <thead>
    <tr class="ui-widget-header">
      <th>${common.buyer}</th>
      <th>${common.shipto}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${instance.Buyer}</td>
      <td>${instance.ShipTo.Id} $!{instance.ShipTo.Description}</td>
    </tr>
  </tbody>
  <thead>
    <tr class="ui-widget-header">
      <th>${common.notice}</th>
      <th>${common.status}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>$!{instance.Notice}</td>
      <td>${h.getenumname($instance.Status)}</td>
    </tr>
  </tbody>
</table>
</div>

<div id="new-entry-container"></div>
</div>

<div id="entries-container">
<table id="entries" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.material}</th>
      <th>${common.description}</th>
      <th>${common.unit}</th>
      <th>${common.unitprice}</th>
      <th>${common.requiredquantity}</th>
      <th>${common.requireddate}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $instance.Entries)
    <tr>
      <td>${entry.Id}</td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Description}</td>
      <td>${entry.Unit.Id} $!{entry.Unit.Description}</td>
      <td>${entry.Price.UnitPrice}</td>
      <td>${entry.RequiredQuantity}</td>
      <td>${entry.RequiredDate.ToShortDateString()}</td>
      <td>${common.remove}</td>
    </tr>
  #end
  </tbody>
</table>
</div>

<div class="ui-helper-clearfix">
</div>

