<fieldset>
<legend>${commonText.confirm}</legend>
<p>
Do you really want to <b>CallBack</b> this Delivery?
</p>
<p>
$Html3Helper.LinkTo("${commonText.yes}", "wip","delivery", "callback", $deliveryId)
$AjaxHelper.LinkToRemote("${commonText.cancel}", "${siteRoot}/home/nothing.rails", $DictHelper.CreateDict("update=operate"))
</p>
</fieldset>
