<ul>
  <li><a href='${url.for("%{area='pur', controller='vendor', action='index'}")}'>
    <img src="${siteroot}/content/images/docs.png"/>
    <span>${common.vendor}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='vendor', action='new'}")}'>
    <img src="${siteroot}/content/images/doc.png"/>
    <span>${common.createnew} ${common.vendor}</span></a>
  </li>
  <li><a href='${url.for("%{area='inv', controller='inventory', action='list'}")}'>
    <img src="${siteroot}/content/images/inventory.png"/>
    <span>${common.inventory} ${common.query}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='vendorquote', action='new'}")}'>
    <img src="${siteroot}/content/images/doc.png"/>
    <span>${common.createnew} ${common.vendor-quote}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='vendorquote', action='index'}")}'>
    <img src="${siteroot}/content/images/docs.png"/>
    <span>${common.vendor-quote}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='vendorquote', action='forappraising'}")}'>
    <img src="${siteroot}/content/images/analyse.png"/>
    <span>${common.appraise-vendor-quote}</span></a>
  </li>
</ul>
<ul>
  <li><a href='${url.for("%{area='pur', controller='pr', action='index'}")}'>
    <img src="${siteroot}/content/images/user.png"/>
    <span>${common.createpurchaserequisition}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='pr', action='listfinal'}")}'>
    <img src="${siteroot}/content/images/analyse.png"/>
    <span>${common.reviewbydepartmentmanager}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='pr', action='listapproved1'}")}'>
    <img src="${siteroot}/content/images/analyse.png"/>
    <span>${common.reviewbywarehouse}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='pr', action='listapproved2'}")}'>
    <img src="${siteroot}/content/images/audit.png"/>
    <span>${common.inquire}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='pr', action='listquoted'}")}'>
    <img src="${siteroot}/content/images/analyse.png"/>
    <span>${common.reviewbypurchasingmanager}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='pr', action='listapproved3'}")}'>
    <img src="${siteroot}/content/images/analyse.png"/>
    <span>${common.reviewbytopmanager}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchaserequisition', action='index'}")}'>
    <img src="${siteroot}/content/images/docs.png"/>
    <span>${common.purchaserequisition}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchaserequisition', action='waitforordering'}")}'>
    <img src="${siteroot}/content/images/docs.png"/>
    <span>${common.waitforordering}</span></a>
  </li>
</ul>
<ul>
  <li><a href='${url.for("%{area='pur', controller='purchasing', action='new'}")}'>
    <img src="${siteroot}/content/images/user.png"/>
    <span>${common.createpurchaseorder}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchasing', action='newzeropricepo'}")}'>
    <img src="${siteroot}/content/images/user.png"/>
    <span>${common.zeropricepo}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchasing', action='listfinal'}")}'>
    <img src="${siteroot}/content/images/analyse.png"/>
    <span>${common.reviewpurchaseorder}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchaseorder', action='index'}")}'>
    <img src="${siteroot}/content/images/docs.png"/>
    <span>${common.purchaseorder}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchasing', action='searchreleased'}")}'>
    <img src="${siteroot}/content/images/user.png"/>
    <span>${common.changerequireddate}</span></a>
  </li>
  <li><a href='${url.for("%{area='pur', controller='purchasing', action='searchreleased'}")}'>
    <img src="${siteroot}/content/images/user.png"/>
    <span>${common.changemargin}</span></a>
  </li>
</ul>
