<fieldset>
<legend>1. All:</legend>
$HtmlHelper.Form("Search6.rails", "criterions6", "post", "$ValidationHelper.GetValidationTriggerFunction()")

$HtmlHelper.SubmitButton("$commonText.search")

$HtmlHelper.EndForm()
</fieldset>