<!-- calendar stylesheet -->
<link rel="stylesheet" type="text/css" media="all" href="${siteRoot}/Content/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />

<!-- main calendar program -->
<script type="text/javascript" src="${siteRoot}/Content/jscalendar-1.0/calendar.js"></script>

<!-- language for the calendar -->
<script type="text/javascript" src="${siteRoot}/Content/jscalendar-1.0/lang/calendar-en.js"></script>

<!-- the following script defines the Calendar.setup helper function, which makes
   adding a calendar a matter of 1 or 2 lines of code. -->
<script type="text/javascript" src="${siteRoot}/Content/jscalendar-1.0/calendar-setup.js"></script>
