#capturefor(head)
  ${j.jquery_form()}
  ${j.jquery_validate()}
  ${j.jquery_autocomplete()}
  ${j.jquery_dataTable()}
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('#formNewInstance').validate();
      $('#instance_IssuedFrom').focus();
      $('#drafts').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
      $('#instance_Customer_Id').autocomplete('$url.for("%{area='sales', controller='customer', action='autocomplete2'}")', {
        width: 300,
        matchContains: true,
        formatItem: formatCustomerItem,
        formatResult: formatResult
      }).focus();
    });
  // ]]>
  </script>
#end
<h3>${common.issuefinishedgoods}</h3>

${h.start_with_layout($url.for("%{action='create'}"), "formNewInstance")}
${f.push("instance")}

${h.field($common.id, $f.textfield("Id"))}
${h.field($common.customer, $f.textfield("Customer.Id", "%{class='required'}"), true)}
${h.field("", $f.submit($common.create))}

${f.pop()}
${h.end_with_layout()}

<div id="header-container">
<table id="drafts" class="display">
  <thead>
    <tr>
      <th>Id</th>
      <th>${common.customer}</th>
      <th>${common.repository}</th>
      <th>${common.storekeeper}</th>
      <th>${common.status}</th>
      <th>${common.createdate}</th>
    </tr>
  </thead>
  <tbody>
  #foreach($draft in $drafts)
    <tr>
      <td>${url.link($draft.Id, "%{action='steering', querystring='id=$draft.Id'}")}</td>
      <td>[${draft.Customer.Id}]${draft.Customer.Name}</td>
      <td>${r.getdescription($draft.IssuedFrom)}</td>
      <td>${draft.IssuedBy}</td>
      <td>${h.getenumname($draft.Status)}</td>
      <td>${draft.CreateDate.ToShortDateString()}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
