#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  #new-entry-container { width: 500px; float: left; }
  /* #new-entry-container h3, #formNewIN { float: left; } */
  #header-container h3 { float: left; }
  #entries-container { margin-top: 1em; clear: both; }
  #btnFinish, #btnIssueAccordingToOrder { float: left; margin-left: 1.5em; }
  #btnCancel { float: right; }
  #new-entry-container { padding-left: 1em; margin-top: 1em; margin-bottom: 1em; }
  #entry_Material_Id, .material-menu-triger { float: left; }
  /* ]]> */
  </style>
  
  ${j.jquery_dataTable()}
  ${j.jquery_form()}
  ${j.jquery_validate()}
  ${j.jquery_autocomplete()}

  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('.button').button();

      oDataTable = $('#entries').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aoColumns": [
        {"bVisible": false},
        null,
        {"sClass": "jo-id"},
        {"sClass": "material-id"},
        {"sClass": "material-name"},
        {"sClass": "material-spec"},
        {"sClass": "quantity"},
         null, null,
        {"fnRender": function(oObj){return fnRenderRemoveLink(oObj, '${url.for("%{action='removeentry'}")}');}, "bSortable": false}
        ],
        "fnDrawCallback": function(){fnClassTrigerMaterialMenu();}
      });

      $('#formNewIN').validate({
        submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnAddToDT}); }
        });
      $('#entry_Material_Id').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")',{
        width: 550,
        matchContains: true,
        formatItem: formatItem3,
        formatResult: formatResult,
        max: 30
      }).focusout(function(){
        if($(this).val() > ""){
          fnTrigerMaterialMenu(this, $(this).val());
        }
      }).focusin(function(){
        $('.material-menu-triger').remove();
      });
      $('#entry_JobOrder').autocomplete('$url.for("%{area='sales', controller='salesorder', action='autocomplete2'}")', {
        width: 300,
        matchContains: true,
        formatItem: formatSalesOrderItem,
        formatResult: formatResult,
        max: 30
      }).focus();
    });

    function fnAddToDT(data){
      if(!fnHasError(data)){
        oDataTable.fnAddData([data['Id'], data['TradeType'], data['JobOrder'], data['MaterialId'],  data['MaterialName'], data['MaterialSpecification'], data['RequiredQuantity'], data['UnitId'] + " " + data['UnitDescription'], data['Notice'], '${common.remove}']);
        $('#entry_Material_Id').val("");
        $('#entry_RequiredQuantity').val("");
        $('#entry_Notice').val("");
        $('#entry_JobOrder').val("").focus();
      }
    }
  // ]]>
  </script>
#end

#capturefor(title)
${common.issueoutward}: ${issuingNote.Id}
#end

<div id="header-container">
<h3>${common.issueoutward}: ${issuingNote.Id}</h3>
<a id="btnFinish" href='${url.for("%{action='finish', querystring='id=$issuingNote.Id'}")}' class="button">${common.finish}</a>
<a id="btnCancel" href='${url.for("%{action='cancel', querystring='id=$issuingNote.Id'}")}' class="button">${common.cancel}</a>

<table class="display">
  <thead>
    <tr class="ui-widget-header">
      <th>Id</th>
      <th>${common.workshop}</th>
      <th>${common.applyby}</th>
      <th>${common.status}</th>
      <th>${common.createdate}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${issuingNote.Id}</td>
      <td> ${r.getdescription($issuingNote.IssueTo)} </td>
      <td>${issuingNote.ApplyBy}</td>
      <td>${h.getenumname($issuingNote.Status)}</td>
      <td>${issuingNote.CreateDate.ToShortDateString()}</td>
    </tr>
  </tbody>
</table>
</div>

<div id="new-entry-container" class="ui-helper-clearfix ui-widget-content ui-corner-all">
<h3>${common.createnew} ${common.entry}</h3>

${h.start_with_layout($url.for("%{action='addentry'}"), "formNewIN")}
${f.push("entry")}

$f.hiddenfield("IssuingNote.Id")
${h.field($common.ordernumber, $f.textfield("JobOrder", "%{class='required'}"), true)}
${h.field($common.material, $f.textfield("Material.Id", "%{class='required'}"), true)}
${h.field($common.requiredquantity, $f.textfield("RequiredQuantity", "%{class='required', min='0.000000001'}"), true)}
${h.field($common.notice, $f.textfield("Notice"))}
${h.field("", $f.submit($common.create))}

${f.pop()}
${h.end_with_layout()}
</div>

<div id="entries-container">
<table id="entries" class="display">
  <thead>
    <tr>
      <th>Id</th>
      <th>${common.tradetype}</th>
      <th>${common.ordernumber}</th>
      <th>${common.material}</th>
      <th></th>
      <th></th>
      <th>${common.requiredquantity}</th>
      <th>${common.unit}</th>
      <th>${common.notice}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $issuingNote.Entries)
    <tr>
      <td>${entry.Id}</td>
      <td>${h.getenumname($entry.TradeType)}</td>
      <td>$!{entry.JobOrder}</td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Name}</td>
      <td>$!{entry.Material.Specification}</td>
      <td>${entry.RequiredQuantity}</td>
      <td>$!{m.TryGetPrimaryUnit($entry.Material).Id} $!{m.TryGetPrimaryUnit($entry.Material).Description}</td>
      <td>$!{entry.Notice}</td>
      <td>${common.remove}</td>
    </tr>
  #end
  </tbody>
</table>
</div>

