#capturefor(head)
  ${h.stylesheet_link("$siteroot/content/css/inv/bom/bip.css")}
  ${j.jquery_treeview()}

  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
  $(function(){
    $('#bomtree').treeview({url: '${url.for("%{action='getcomponents', querystring='bomId=$bill.Id'}")}'});
  });
  // ]]>
  </script>
#end

<div>
  <h3>${common.bom}: ${bill.Compound.Id} $!{bill.Compound.Description}</h3>
  <div>
    ${bill.Compound.Id}
    <ul id="bomtree">
    </ul>
  </div>
</div>
