#if(!$poes || $poes.Count==0)
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    alert("${common.nosuited-order-for-returning}");
  // ]]>
  </script>
#else
<button id="btnPreSelectPurchaseOrder">${common.previousstep}</button>
<h3>${common.select} ${common.purchaseorder} :</h3>

#set($currentPoId = "")
<div id="poes">
  <ul>
  #foreach($po in $pos)
    <li> <a href="#${po.Id}">${po.Id}</a> </li>
  #end
  </ul>

#foreach($poe in $poes)
  #if($currentPoId!=$poe.PO.Id)
    #if($currentPoId!="")
  </div>
    #end
    #set($currentPoId=$poe.PO.Id)
  <div id="${currentPoId}">
    <ul>
      <li class="ui-state-default poe ui-helper-clearfix">
        <span class="material-id">${common.material}</span>
        <span class="material-name">${common.name}</span>
        <span class="material-spec">${common.specification}</span>
        <span class="quantity">${common.deliveredquantity}</span>
        <span class="unit">${common.baseunit}</span>
        <span class="short-date">${common.requireddate}</span>
      </li>
  #end
#each
      <li id="poe${poe.Id}" class="ui-state-default poe poedata ui-helper-clearfix" onclick="javascript:fnSelectPOE(${poe.Id});">
        <span class="material-id">${poe.Material.Id}</span>
        <span class="material-name">$!{poe.Material.Name}</span>
        <span class="material-spec">$!{poe.Material.Specification}</span>
        <span class="quantity">${poe.DeliveredQuantity}</span>
        <span class="unit">${poe.Unit.Id}</span>
        <span class="short-date">${poe.RequiredDate.ToShortDateString()}</span>
      </li>
#end
    </ul>
  </div>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  fnjQuerifyInput();
  $('#poes').tabs();
  $('#btnPreSelectPurchaseOrder').click(function(){fnPreSelectPurchaseOrder();});
  $('.poedata').hover(
  function(){
    $(this).addClass("ui-state-hover");
  },
  function(){
    $(this).removeClass("ui-state-hover");
    }
  );
// ]]>
</script>
#end
