<fieldset>
<legend>1. All: [Paginated, Sort by Customer Requested Date]</legend>
$HtmlHelper.Form("Search1.rails", "criterions1", "post", "$ValidationHelper.GetValidationTriggerFunction()")

$HtmlHelper.SubmitButton("$commonText.search")

$HtmlHelper.EndForm()
</fieldset>