$HtmlHelper.LabelFor("itemcode", "${commonText.material}:")
$HtmlHelper.InputText("itemcode", "", 31, 31,  $DictHelper.Create("validators=blank", "style=text-transform: uppercase;"))
$AjaxHelper.ButtonToRemote("+", "AddMaterielCondition.rails", $DictHelper.CreateDict( "update=materielConditions", "with=Form.serialize($('universalsearch'))" ) )
