#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
#header-container { margin-bottom: .5em; float: left; }
#btnPrint { float: none; margin-left: 1.5em; }
#header-container { width: 800px; }
#entries-container, #issued-inventories-container { margin-top: 1em; clear: both; }
/* ]]> */
</style>

${j.jquery_dataTable()}
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  var oEntries;
  $(function(){
     $('#entries').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aoColumns": [
      {"bVisible": false},
      {"sClass": "so-id"},
      {"sClass": "material-id"},
      {"sClass": "material-name"},
      {"sClass": "material-spec"},
      {"sClass": "quantity"},
      {"sClass": "quantity"},
      null,
      ],
      "fnDrawCallback": function(){fnClassTrigerMaterialMenu();}
    });
     $('#issued-inventories').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
    });
  });
// ]]>
</script>
#end

#capturefor(title)
  #if($h.getenumname($instance.MaterialType) == "SemiFinishGood")
  ${common.sfgsubmit}
  #else
  ${common.fgsubmit}
  #end
  : ${instance.Id}
#end

#if($h.getenumname($instance.MaterialType) == "SemiFinishGood")
<h3>${common.sfgsubmit}</h3>
#else
<h3>${common.fgsubmit}</h3>
#end

#if($h.getenumname($instance.Status)  != "Draft")
<a id="btnPrint" href='${url.for("%{action='print', querystring='id=$instance.Id'}")}' target="_blank" class="fg-button ui-state-default ui-corner-all">${common.print}</a>
#end

<div id="header-container">
<table class="display">
  <thead>
    <tr class="ui-widget-header">
      <th>Id</th>
      <th>${common.workshop}</th>
      <th>${common.submitby}</th>
      <th>${common.status}</th>
      <th>${common.createdate}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${instance.Id}</td>
      <td>${instance.SubmitFrom}</td>
      <td>${instance.SubmitBy}</td>
      <td>${h.getenumname($instance.Status)}</td>
      <td>${instance.CreateDate.ToShortDateString()}</td>
    </tr>
  </tbody>
</table>
</div>

<div id="entries-container">
<table id="entries" class="display">
  <thead>
    <tr>
      <th>Id</th>
      <th>${common.joborder}</th>
      <th>${common.material}</th>
      <th></th>
      <th></th>
      <th>${common.quantity}</th>
      <th>${common.packagequantity}</th>
      <th>${common.notice}</th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $instance.Entries)
    <tr>
      <td>${entry.Id}</td>
      <td>$!{entry.JobOrder}</td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Name}</td>
      <td>$!{entry.Material.Specification}</td>
      <td>${entry.SubmittedQuantity}</td>
      <td>${entry.PackageQuantity}</td>
      <td>$!{entry.Notice}</td>
    </tr>
  #end
  </tbody>
</table>
</div>

#if($h.getenumname($instance.status) == "Accepted")
<h3>${common.affectedinventories}:</h3>
<div id="issued-inventories-container">
<table id="issued-inventories" class="display">
  <thead>
    <tr>
      <th>${common.repository}</th>
      <th>${common.material}</th>
      <th>${common.quantity}</th>
      <th>${common.baseunit}</th>
      <th></th>
      <th>${common.createdate}</th>
      <th>${common.lastupdatedate}</th>
      <th>${common.label}0</th>
      <th>${common.label}1</th>
      <th>${common.label}2</th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $instance.Entries)
    #foreach($inventory in $entry.SubmittedInventories)
    <tr>
      <td>${inventory.Repository}</td>
      <td>${inventory.Material}</td>
      <td>${inventory.Quantity}</td>
      <td>$!{m.trygetprimaryunit($inventory.Material).Id}</td>
      <td>$!{m.trygetprimaryunit($inventory.Material).Description}</td>
      <td>${inventory.CreateDate.ToString()}</td>
      <td>${inventory.LastUpdateDate.ToString()}</td>
      <td>$!{inventory.Labels.Label0}</td>
      <td>$!{inventory.Labels.Label1}</td>
      <td>$!{inventory.Labels.Label2}</td>
    </tr>
    #end
  #end
  </tbody>
</table>
</div>
#end
