#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
#new-instance-container { width: 500px; padding: 0 1em 1em 1em; }
h3 { font-size: 123.1%; }
p { margin-top: 1em; height: 25px; float: left; }
span { float: left; }
.label2 { width: 100px; text-align: right; padding-right: .3em; }
.field2 { margin-right: .8em; padding-left: .3em; margin-left: -1px; }
.label2, .field2 { padding-top: .2em; padding-bottom: .2em; height: 90%}

.customer-id, .customer-name, .customer-fullname { width: 300px; }
.address { width: 300px; }
/* ]]> */
</style>

${j.jquery_autocomplete()}
${j.jquery_validate()}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    $('#instance_Address_Id').autocomplete('$url.for("%{area='common', controller='addr', action='autocomplete2'}")', {
      width: 400,
      matchContains: true,
      formatItem: formatAddressItem,
      formatResult: formatResult
    });
    $("#instance_Id").focus();
    $("#new-instance").validate();
    fnDecorative();
  });

// ]]>
</script>
#end

#capturefor(title)
${common.createnew} ${common.customer}
#end

<h3>${common.createnew} ${common.customer}</h3>

<div id="new-instance-container" class="ui-helper-clearfix ui-widget-content">
  <form id="new-instance" action='${url.for("%{action='create'}")}' method="POST">
  ${f.push("instance")}
  <p>
    <span class="label2">*${common.id}:</span>
    <span class="field2 customer-id">${f.textfield("Id", "%{size='30', class='required'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">*${common.name}:</span>
    <span class="field2 customer-name">${f.textfield("Name", "%{size='30', class='required'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.fullname}:</span>
    <span class="field2 customer-fullname">${f.textfield("Fullname", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.address}:</span>
    <span class="field2 address">${f.textfield("Address.Id", "%{size='30'}")}&nbsp;</span>
  </p>
  <p>
    <span class="label2">${common.is-active}:</span>
    <span class="field2 status">$!{f.checkboxfield("IsActive")}&nbsp;</span>
  </p>
  ${f.pop()}
  <p>
    ${f.submit($common.submit)}
  </p>
  </form>
</div>
