<div>
<!--
<style type="text/css">    
    div.auto_complete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    ul.names  {
      list-style-type: none;
      margin:0px;
      padding:0px;
    }
    ul.names li.selected { background-color: #ffb; }
  </style>
-->
<p>
<label for="MonoRailURL.ID">URL:</label>
$HtmlHelper.Select("MonoRailURL.ID")
$HtmlHelper.CreateOptions($urls, "", "ID", $!mrAuthorization.MonoRailURL.ID)
$HtmlHelper.EndSelect()
</p>
<p>
<label for="MonoRailAuthorization.PrincipalType">Principal Type:</label>
##$HtmlHelper.Select("MonoRailAuthorization.PrincipalType")
##$HtmlHelper.CreateOptions($MonoRailAuthorizationEnumHelper.GetPrincipalTypeList(), "value", "key", $mrAuthorization.PrincipalType)
##$HtmlHelper.EndSelect()
$Html2Helper.CreateSelectFromEnum("MonoRailAuthorization.PrincipalType", $mrAuthorization.PrincipalType.GetType(), $mrAuthorization.PrincipalType)
</p>
<p>
<label for="MonoRailAuthorization.PermissionType">Permission Type:</label>
##$HtmlHelper.Select("MonoRailAuthorization.PermissionType")
##$HtmlHelper.CreateOptions($MonoRailAuthorizationEnumHelper.GetPermissionTypeList(), "value", "key", $!mrAuthorization.PermissionType)
##foreach($entry in $MonoRailAuthorizationEnumHelper.GetPermissionTypeList())
	##if($entry.key==$mrAuthorization.PermissionType)
		##$HtmlHelper.CreateOption($entry.value, $entry.key, $DictHelper.Create("selected"))
	##else
		##$HtmlHelper.CreateOption($entry.value, $entry.key)
	##end
##end
##$HtmlHelper.EndSelect()
$Html2Helper.CreateSelectFromEnum("MonoRailAuthorization.PermissionType", $mrAuthorization.PermissionType.GetType(), $mrAuthorization.PermissionType)
</p>
<p>
<label for="MonoRailAuthorization.PrincipalName">User ID or Role:</label>
$HtmlHelper.InputText("MonoRailAuthorization.PrincipalName", $!mrAuthorization.PrincipalName, $DictHelper.Create("validators=blank"))
</p>
<div id="MonoRailAuthorization.PrincipalNameautocomplete" class="auto_complete"></div>
$AjaxHelper.AutoCompleteInputText( "MonoRailAuthorization.PrincipalName", "${siteRoot}/sysadmin/rolelist/GetSearchItems.rails", null)

</div>
