#capturefor(head)
  ${j.jquery_form()}
  ${j.jquery_validate()}
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('#formChangePassword').validate({
        submitHandler: function(form){ $(form).ajaxSubmit({dataType: 'json', success: fnHasError}); }
      });

      $('#oldPassword').focus();
    });
  // ]]>
  </script>
#end
<h3>${common.changepassword}</h3>

${h.start_with_layout($url.for("%{action='changeownpassword'}"), "formChangePassword")}

${h.field($common.current-password, $f.passwordfield("oldPassword", "%{class='required'}"), true)}
${h.field($common.new-password, $f.passwordfield("newPassword", "%{class='required'}"), true)}
${h.field("$common.new-password ($common.again)", $f.passwordfield("confirmPassword", "%{class='required'}"), true)}
${h.field("", $f.submit($common.change))}

${h.end_with_layout()}
