#capturefor(head)
<style type="text/css" media="screen">
/* <![CDATA[ */
#header-container h3 { float: left; }
#header-container .button { margin-left: 1em; }

#instances-container { margin-top: 1em; }
/* ]]> */
</style>

${j.jquery_dataTable()}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(function(){
    $('.button').button();

    oDataTable = $('#entries').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aoColumns": [
      {"bVisible": false},
      {"sClass": "trade-type"},
      {"sClass": "jo-id"},
      {"sClass": "material-id"},
      {"sClass": "material-name"},
      {"sClass": "material-spec"},
      {"sClass": "quantity"},
      {"sClass": "unit"},
      {"sClass": "notice"},
      ],
      "fnDrawCallback": function(){fnClassTrigerMaterialMenu();}
    });
  });

// ]]>
</script>
#end

#capturefor(title)
${common.sheet-for-return-to-vendor}: ${sheet.Id}
#end

<div id="header-container" class="ui-helper-clearfix">
<h3>${common.sheet-for-return-to-vendor}: ${sheet.Id}</h3>
#if($sheet.Printable)
<a href='${url.for("%{action='print', querystring='id=$sheet.Id'}")}' class='button'>${common.print}</a>
#end
<table class="display">
  <thead>
    <tr class="ui-widget-header">
      <th>${common.id}</th>
      <th>${common.return-from}</th>
      <th>${common.vendor}</th>
      <th>${common.returned-by}</th>
      <th>${common.status}</th>
      <th>${common.createdate}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ui-widget-content">
      <td>${sheet.Id}</td>
      <td>$!{sheet.ReturnFrom}</td>
      <td>[${sheet.Vendor.Id}] $!{sheet.Vendor.Name} </td>
      <td>${sheet.ReturnedBy}</td>
      <td>${h.getenumname($sheet.Status)}</td>
      <td>${sheet.CreateDate.ToShortDateString()}</td>
    </tr>
  </tbody>
</table>
</div>

<div id="instances-container">
<table id="entries" class="display">
  <thead>
    <tr>
      <th>${common.id}</th>
      <th>${common.tradetype}</th>
      <th>${common.ordernumber}</th>
      <th>${common.material}</th>
      <th>${common.name}</th>
      <th>${common.specification}</th>
      <th>${common.quantity}</th>
      <th>${common.unit}</th>
      <th>${common.notice}</th>
    </tr>
  </thead>
  <tbody>
  #foreach($entry in $sheet.Entries)
    <tr>
      <td>${entry.Id}</td>
      <td>${h.getenumname($entry.TradeType)}</td>
      <td>
      #if($entry.OrderEntry)
      <a href='${url.for("%{area='pur', controller='purchaseorder', action='view', querystring='id=$entry.OrderEntry.PO.Id'}")}' target='_blank'>
      $!{entry.OrderEntry.PO.Id}
      </a>
      #end
      </td>
      <td>${entry.Material.Id}</td>
      <td>$!{entry.Material.Name}</td>
      <td>$!{entry.Material.Specification}</td>
      <td>${entry.Quantity}</td>
      <td>$!{m.trygetprimaryunit($entry.Material).Description}</td>
      <td>$!{entry.Notice}</td>
    </tr>
  #end
  </tbody>
</table>
</div>
