#capturefor(head)
  <style type="text/css" media="screen">
  /* <![CDATA[ */
  .panel { float: left; width: 800px; padding: 0 .5em 1em .5em; }
  h4 { padding: 3px; }
  .panel div { margin-top: -1px; }
  p, #repositories, #materials { width: 98%; margin: .5em;}
  #button-container { float: none; text-align: center; }
  #btnQuery { float: none; }

  ul span, li { float: left; margin: .5em; }
  /* ]]> */
  </style>
  
  ${j.jquery_autocomplete()}
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('#materials, .material').autocomplete('$url.for("%{area='inv', controller='material', action='autocomplete3'}")', {
        width: 550,
        multiple: true,
        matchContains: true,
        formatItem: formatItem3,
        formatResult: formatResult,
        max: 30
      }).focus();
      $('#vendor').autocomplete('$url.for("%{area='pur', controller='vendor', action='autocomplete2'}")', {
        width: 250,
        matchContains: true,
        formatItem: formatVendorItem,
        formatResult: formatResult
      });
      $('.date').datepicker();
    });
  // ]]>
  </script>
#end

#capturefor(title)
${common.search} ${common.purchaseorder}
#end

<h3> ${common.search} ${common.purchaseorder}</h3>

<form action='${url.for("%{action='search'}")}' method="POST" target="_blank">

<div id='criteria-container' class="ui-helper-clearfix">
  <div class="panel">
    <h4 class="ui-widget-header ui-corner-top">${common.select} ${common.date}</h4>
    <div id="date-container" class="ui-widget-content">
      <p>${common.from} : ${f.textfield("fromDate", "%{class='date'}")}
      ${common.to} : ${f.textfield("toDate", "%{class='date'}")} </p>
    </div>
  </div>

  <div class="panel">
    <h4 class="ui-widget-header ui-corner-top">${common.select} ${common.vendor}</h4>
    <div class="ui-widget-content">
      <p>${f.textfield("vendor")}</p>
    </div>
  </div>

  <div class="panel">
    <h4 class="ui-widget-header ui-corner-top">${common.select} ${common.purchaseorder} ${common.id}</h4>
    <div class="ui-widget-content">
      <p>${f.textfield("id")}</p>
    </div>
  </div>

  <div class="panel">
    <h4 class="ui-widget-header ui-corner-top">${common.select} ${common.material}</h4>
    <div id="materials-container" class="ui-widget-content ui-helper-clearfix">
      ${f.textarea("materials")}
      <p>${common.from} : ${f.textfield("fromMaterial", "%{class='material'}")}
      ${common.to} : ${f.textfield("toMaterial", "%{class='material'}")}
      </p>

    <ul class="ui-helper-clearfix"><span>${common.materialclass} : </span>
    #foreach($class in $materialClasses)
      <li><input type="checkbox" name="materialClasses" value='${class.Id}'/> $!{class.Description}</li>
    #end
    </ul>
    <ul class="ui-helper-clearfix"><span>${common.inventoryclass} : </span>
    #foreach($class in $inventoryClasses)
      <li><input type="checkbox" name="inventoryClasses" value='${class.Id}'/> $!{class.Description}</li>
    #end
    </ul>
    </div>
  </div>
  
  <div class="panel">
    <h4 class="ui-widget-header ui-corner-top">${common.purchaseorder} ${common.status}</h4>
    <div class="ui-widget-content">
      <ul class="ui-helper-clearfix">
        <li><input type="checkbox" name="orderStatus" value='-1'/> ${common.status_void}</li>
        <li><input type="checkbox" name="orderStatus" value='0'/> ${common.status_draft}</li>
        <li><input type="checkbox" name="orderStatus" value='1'/> ${common.status_final}</li>
        <li><input type="checkbox" name="orderStatus" value='2' checked/> ${common.status_released}</li>
        <li><input type="checkbox" name="orderStatus" value='3'/> ${common.status_finished}</li>
      </ul>
    </div>
  </div>

</div>
 
<p><input type="submit" value="${common.query}" /></p>
</form>
